[2016-02-10 10:29] blackat commented on #688
Hi,
@zachlysobey I have tested on the Basic Example both Chrome OSsX and Windows but it does not work, I have evn tried to use the trick proposed by @pzagor2 moving the mouse a little bit on the right but the node 3.1 goes or up or down the node 2.2.

Should I expect the node 2.2 gets a collapse/expand symbol with node 3.1 inside?

Help is really much appreciated :wink:

[2016-02-10 11:41] cgonul commented on #715
One possibility out of 100 you may forgat to add the css file.
<link href="../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" rel="stylesheet">
And do not forget the rel="stylesheet" atribute for older html specs (< html5).

[2016-02-10 15:57] zachlysobey commented on #688
It was trickier to get working with the plnkr (no placeholders, etc...), but it did work for me.

![screen shot 2016-02-10 at 10 53 01 am](https://cloud.githubusercontent.com/assets/1310403/12952434/749e5448-cfe4-11e5-850a-6f83327a3fa3.png)

On the basic example. After dragging 3.1 node to be a child of 2.2 I do see the expand/collapse icon. Nodes without any children themselves do not get this ic

[2016-02-11 10:03] blackat commented on #688
Hi,
I have recorded a small [video](http://screencast-o-matic.com/watch/cDnXQ9hSF2) to show what happens. I have played on your website using Chrome browser on Windows 7 and I am not able to get it work, may be I am doing something not totally correct.

Yesterday I was doing it on Chrome for OSX and I got the exact same issue.

Thanks a lot @zachlysobey and @pzagor2 for the help :wink:

[2016-02-11 10:07] zajhbuni commented on #688
Hey blackat drag the node 3.1 to under 2.1 - drop it. Then grab it and just pull it right - as if you wanted to indent it.

[2016-02-11 10:33] pzagor2 commented on #688
@blackat I know what you are talking about. I just implemented this into our product and QA team had the same problem as you. You have to drop item quite far to the right to get it into child group.

I think at 0:23 you even got the right drop zone highlighted.

I wonder if there is an easy way to change it so that you can drop it on top of the node and this would make it go into the child group?

[2016-02-11 11:09] himanshu-patidar commented on #715
@zachlysobey : I have created a plunker which recreates the issue. Just have a look.

http://plnkr.co/edit/iwM1gxJdLuZaKZNSexkE?p=preview

[2016-02-11 13:01] blackat commented on #688
Sorry man but I do not see any drop zone highlighted :wink:

[2016-02-11 13:06] nishantsamant commented on #688
@All : Actually I am still facing the issue. Help ASAP will be appreciated.

[2016-02-11 19:34] zachlysobey commented on #715
Only able to take a quick look right now, but you have a bunch of errors in the JavaScript console which seem to point at the problem.

From the first one:

https://docs.angularjs.org/error/$compile/ctreq?p0=ngModel&p1=uiTreeNodes

This shows that you need to have `ng-model` on your element which contains the `ui-tree-nodes` directive.

Check out the example in the README:

https://github.com/angu

[2016-02-16 13:00] pelizza commented on #424
Using `ng-if` to remove children if the node is collapsed does a lot of difference in performance. In spite of this, when I start expanding nodes, the whole application starts to get slow again...

[2016-02-16 18:46] toketeeman opened #717 "Connected Tree Example: cannot add to top right subtree"
I wanted to drag an item (an empty subtree) from the left tree into one of the items (also empty subtrees) in the right tree. I discovered that if I drag over the target item (empty subtree) sufficiently far enough to the right, the dashed placeholder box then moves farther to the right to signal the drop will place the source item INTO the subtree represented by the target item.

EXCEPT, this doe

[2016-02-16 18:53] toketeeman commented on #717
My error. I finally understood the full behavior of the dashed placeholder box. It works correctly.

[2016-02-16 18:53] #717 closed

[2016-02-16 19:13] pelizza commented on #645
+1
I'm experiencing the same issue here. @qcmatsuoka's solution works well.

[2016-02-16 22:46] nulltone commented on #562
+1. I'm having the same problem.

[2016-02-16 22:53] pelizza commented on #645
Also, I confirm that the problem started between versions v2.9 to v2.10.

[2016-02-16 22:54] jacobscarter commented on #562
+1

[2016-02-17 14:07] IdanCo commented on #629
Does anyone have a clue about this one?

[2016-02-17 14:36] IdanCo commented on #629
ok, that was easy -
just changed
```$rootElement.append(dragElm);```
to
```$document.find('body').append(dragElm);```
I'll create a PR ASAP

[2016-02-17 15:29] alamoot commented on #629
Thank you @blemoine your solution fixed my error.
Had the exact same error with JQuery 2.2 and angular ui.tree 2.14.0

[2016-02-17 23:01] zachlysobey commented on #562
for reference, here the code  that @SvenJunga metioned [above](https://github.com/angular-ui-tree/angular-ui-tree/issues/562#issuecomment-132492240) *in context*

[*uiTreeNode.js#L377*](https://github.com/angular-ui-tree/angular-ui-tree/blob/ee3c61ca31ac6f3ed34d3f8fff0daeab94115906/source/directives/uiTreeNode.js#L377)

[2016-02-18 01:24] zachlysobey commented on #706
Hey @gkTim... sorry didn't mean to not respond. You were able to get this to work I hope?

[2016-02-18 14:42] gkTim commented on #706
Yeah it's working now. Thanks

[2016-02-18 14:42] #706 closed

[2016-02-18 19:51] IPoyda commented on #635
Hi
Is there any way to save nodes state after leaving the  page, and to restore it after came back.
Some of the nodes should be expanded and  some collapsed.
Thanks.

[2016-02-18 20:17] jacobscarter opened #718 "Multi Select Not Added to Release"
I see that Multi Select was added via this commit

https://github.com/angular-ui-tree/angular-ui-tree/commit/432c73bf9a4db0a34d3e1b8a7ee846e5ce2bfc04

What ever happened to this?

[2016-02-21 13:02] mbeaudru commented on #265
This post is old but for anyone encountering this issue, you must use ng-include methodology in order to acheive a >2 depth with your angular tree as explained [here in readme](https://github.com/angular-ui-tree/angular-ui-tree#unlimited-nesting-html-view-or-templates-example)

You must pay attention to every little detail of this sample, I spend 15 minutes looking for errors in my code but it was

[2016-02-22 02:41] angelZambrano opened #719 "The drag action is creating gosh node"
Hi, when I tested the cloning example in my Mobile(Moto G Android 5.1) sometimes when I Drag a node from the first list it's creating a node that is not assigned to any tree list but the nodo is keeping in the page.

attached image
![screenshot_2016-02-21-22-07-09](https://cloud.githubusercontent.com/assets/2658076/13208119/201c9476-d916-11e5-9319-2a0725dcbb8c.png)

[2016-02-22 21:17] bronielsen opened #720 "v2.15.0 does not work with data-ui-tree..."
When upgrading to v2.15.0 I ran into a problem with using the prefix "data-..." in front of the "ui-tree..." attributes for the tree. Eg. data-ui-tree-handle.

I tracked it down to the dragStart function, where the two lines
645: isTreeNode = UiTreeHelper.elementIsTreeNode(eventElm);
646: isTreeNodeHandle = UiTreeHelper.elementIsTreeNodeHandle(eventElm);
only works with attributes without the "dat

[2016-02-23 23:21] adikari opened #721 "Cannot read property '$type' of undefined"
when dragging item too far from the ui tree, it throws `Cannot read property '$type' of undefined` error.

[2016-02-23 23:24] adikari commented on #721
Looks like this is been fixed in the more recent release.

[2016-02-23 23:24] #721 closed

[2016-02-24 12:51] Flofie opened #722 "v2.15.0 breaks draggable button"
With v2.14.0 this code works flawless
[code]

I think the changed scope handling broke this. More specific I think this line is one of the problemes, since I dont have a ui-tree-handle in this tree.
[code]

[2016-02-24 18:08] acaron commented on #688
+1: Same issue

[2016-02-24 20:24] acaron commented on #688
Solution here: https://github.com/angular-ui-tree/angular-ui-tree/issues/245 `children: []` is mandatory. That was my problem!

[2016-02-24 22:58] toketeeman opened #723 "Cannot imitate connected-trees demo in a ASP.NET MVC environment"
I would like to have a pair of trees that are simultaneously collapsible and draggable. Sounds like the connected-trees demo example, right?

However, I have my two trees on a Razor-rendered .cshtml page with my controller declared as expected on the outermost div. I found that my controller has to define a tree option with a beforeDrag() callback that always returns true to allow dragging, or a b

[2016-02-24 23:00] toketeeman commented on #723
I forgot to mention that I am running v2.15.0 under Angular 1.3.8.

[2016-02-25 05:03] tonysyu commented on #302
1. ui-tree could generate $$hashKey property
2. ui-tree could read the track by part of ng-repeat and use the resulting expression to extract keys from the modelValues.

I think solution 1 is the best near-term solution. You could just check whether or not, $$hashKey exists on each element and add it when necessary. Solution 2 is probably out: You have to dig into arbitrary depths of the HTML hier

[2016-02-25 10:55] oliveti commented on #695
I also have the same issue, it is even reproductible in your demo page !

Would be great to merge the fix from @tbartel.

Thank you.

![angularjs ui tree demo 2016-02-25 11-54-02](https://cloud.githubusercontent.com/assets/1235503/13317677/a2822e10-dbb6-11e5-97f2-1183392457e4.png)

[2016-02-25 16:39] toketeeman commented on #723
With more understanding of how the event processing works, I have solved the problem. I added the drag-delay attribute with an appropriate value:

 <div ui-tree="myOptions" id="myRoots" drag-delay="500">

Thus a full-click up-and-down provides collapsing and a sustained click-down provides drag and drop.
So I am closing this issue.

[2016-02-25 16:39] #723 closed

[2016-02-25 17:05] mwalter-healthagen opened #724 "Getting a "Uncaught TypeError: Cannot read property '0' of undefined""
I was getting the same issue as #39, as it turns out that i cannot use the keyword of 'children' in my tree structure, when i changed it to 'nodes' it worked fine (shrug). This should be documented more clearly (if i missed it sorry! :) )
This does not work without throwing "Cannot read property '0' of undefined"
  `{
	"name" : "level1",
	"children" : [{
			"name" : "level2",
			"children" : [{

[2016-02-25 23:06] bronielsen commented on #127
Confirming that I have the same problem using v2.13.0 and v2.15.0

[2016-02-26 14:08] davicosta opened #726 "Collapse/Expand not working with typeScript"
I just got angular-UI-tree installed. I had no problems in loading data into the tree.
I'd like to get all nodes collapsed by default, when the tree is displayed, but all my tries have been failed. Even buttons to call functions to callapse and expand had no success.
All examples i saw until now do not use typeScript and i'd like to know if it's necessary to implement something different, because

[2016-02-26 14:14] davicosta commented on #726
#325

[2016-02-26 22:33] jet-snowman commented on #629
ASAP ? 9 days were gone!

[2016-02-29 07:41] blackat commented on #688
@acaron thanks a lot for the hint, I will try asap :wink:

[2016-02-29 08:29] sergeDEsun opened #728 "Inputs in dragabble nodes are not editable again"
Issue is like in [#121](https://github.com/angular-ui-tree/angular-ui-tree/issues/121)
Not work in 2.15 version, but work in 2.13

[2016-02-29 15:23] joujo1212 commented on #630
I fixed this issue with flickering, but I have another problem, see GIF in link ..when I'm dragging item from right list without stop moving, item is not possible to add to left list. Why? From UX it's really bad, I think

https://www.dropbox.com/s/xr4uxinh4qxk3ra/angular%20ui%20tree%20view%20bug.gif?dl=0

[2016-02-29 15:30] SvenJunga commented on #630
@joujo1212 see this issue #562

[2016-02-29 15:38] joujo1212 commented on #630
Thanks a lot @SvenJunga , it helped!! i didn't see this issue, sorry.

[2016-02-29 17:55] mattjanssen commented on #675
Thanks for documenting this. I had the same problem for a while. Here's the shortened return line I used:

`return sourceNodeScope.$treeScope === destNodesScope.$treeScope;`

And just for some search juice: two multiple separate different trees disable dragging between

[2016-03-01 21:53] IdanCo commented on #629
@jet-snowman , I wrote the exact line of code that needs changing, if it was so urgent you could easily create your own PR. If you're not sure how i'll be happy to show you.

anyway, PR #729 was created.

[2016-03-02 16:16] SvenJunga commented on #726
@davicosta did you give the `data-collapsed` attribute a try? https://github.com/angular-ui-tree/angular-ui-tree#data-collapsed
I use this for the root node and it work quite well.

Ah, sh**, just read your question again. Try using `data-collapsed` instead of `collapsed`.

[2016-03-02 16:49] davicosta commented on #726
SvenJunga, thank you very much for your answer. Yes i tried to use `data-collapsed="true"` and all nodes were displayed expanded.
Do you use it in the template, inside the script tag, or out direct in the li tag inside the ui-tree tag?

[2016-03-02 17:01] SvenJunga commented on #726
Hey @davicosta, see this gist: https://gist.github.com/SvenJunga/067f7d981f477bf4c6c9#file-ui-tree-node-html

I think the reference to the parent scope is crucial here since ngRepeat creates its own child scope. You could use some sort of wrapper object as well. Have a little read: https://github.com/angular/angular.js/wiki/Understanding-Scopes (the summary takes about two minutes to read)

[2016-03-02 21:22] Khamull commented on #707
+1

[2016-03-02 21:24] bronielsen commented on #726
Hi @davicosta, I am using ui-tree with typescript. No problems there. I am starting the tree off being collapsed by adding data-collapsed="true" to all the ui-tree-node's. That works for me, so it must be something else that is causing you trouble.

If you want to collapse the entire tree, you could broadcast an event as described here:
https://github.com/angular-ui-tree/angular-ui-tree#events

Th

[2016-03-03 14:35] jacksoncharles commented on #203
Throwing my experience into the pot, I had the following configuration

[code]

and the culprit was

`      defaultCollapsed: true`

which I changed to read

`      defaultCollapsed: false`

and everything worked perfectly.

Thanks for the awesome solution, really great.

[2016-03-03 15:23] jozsinakhivnak commented on #645
I can confirm that @qcmatsuoka's solution works well. Just change the line
`  $rootElement.append(dragElm);`
to

`  $document.find('body').append(dragElm);`

[2016-03-04 12:45] checklist opened #730 "Switching from Move to Clone with Control Key"
Hi,

I am trying to implement a drag-drop which can have 2 options: move and clone. The user should be able to switch between the two options when clicking on the control button. This can be done BEFORE drag and while dragging. Any idea on how to go about implementing this?

Thanks for this great component!

[2016-03-04 13:04] chirkin opened #731 "object model"
Can you add full support object (not only array) as model?

[2016-03-04 15:02] FilipPoreba opened #732 "Expand/Collapse not working"
Hi.

Expand and collapse are not working on my example:
http://plnkr.co/edit/MIMQ0GWnhQnZ1AhhKzo5?p=preview

What did i wrong? This is code from basic example with minor changes.

[2016-03-04 21:45] diegoherrera opened #733 "Question event remove and drag an drop"
it possible to detect in the removed callback if the action is  drag and drop or only remove ?
when we move a node first calls the beforeDrag event , call remove event and  droped event.
when we remove the node, first call the remove event only.

could give an example ?

[2016-03-07 07:12] nishantsamant commented on #707
Any luck?

[2016-03-07 09:40] danielforsberg commented on #707
+1

[2016-03-07 12:22] danielforsberg commented on #562
+1

[2016-03-08 09:29] DrowningElysium opened #734 "accept destIndex is wrong when placing an item to the bottom."
When you have 1 item in the tree and you put a node underneath it the destIndex will always be 0. This is when you place it underneath or above it. This also happens when you have more than 2 items.

[2016-03-08 11:51] tmpathak-cygnet opened #735 "Cannot read property '0' of undefined in the ui-tree"
Here is my code .. <div draggable="false"  data-ui-tree=""  drag-enabled="false" id="tree-root" class="task">
            <ul  data-ui-tree-nodes=""  data-ng-model="process.Tasks" class="list product-process-listul">
                <li data-ng-repeat="task in row.entity.Tasks" data-ng-disabled="isInputDisabled()" data-ng-readonly="isInputDisabled()" data-ui-tree-node=""  data-ng-include="'Content

[2016-03-08 14:39] nailaandleeb opened #736 "Drag n Drop in nested nodes"
i have tree structure with multiple nested levels.when i drag 1st index node from first level nesting to 0 index at 2nd level   OR 1st index node from 2nd level nesting to 0 index at 2nd level  both gave same dest and source.while i have to track parent and child nodes to save them in database.i used simple "dropped" method to track

Thank You

[2016-03-08 15:05] rachelizv commented on #707
+1

[2016-03-08 15:06] rachelizv commented on #707
does anyone pls post an example with v2.14 that works?

[2016-03-08 15:07] burakkilic commented on #707
+1

[2016-03-08 23:40] 30percent commented on #728
The mousedown event only seems to be firing on the top element of the node (rather than previously firing on the lowest element 'clicked'). Reverting to 2.13.x and 2.14.x still works which implies that a change occurred inside the project rather than externally if that helps in any way.

[2016-03-09 11:39] ErgoSoftUK commented on #707
I'm new to this component (and angular!) and I've been trying to get it to work (v2.15) and got this far.  Anyone confirm this fixes their issue too?

[ui-tree-fix.txt](https://github.com/angular-ui-tree/angular-ui-tree/files/165017/ui-tree-fix.txt)

[2016-03-09 13:39] sohail85 opened #737 "data-nodrop-nabled limit"
Hi, If I am not wrong currently the **data-nodrop-enabled** does not evaluate nodes being drop-able or not by its value as described in [documentation](https://github.com/angular-ui-tree/angular-ui-tree#data-nodrop-enabled-)

I want to enable and disable nodes being drop-able dynamically but since presence of **data-nodrop-enabled** regardless of its value being true or false make the node not dro

[2016-03-11 13:09] nailaandleeb commented on #737
yeah its not working.

    <ol ui-tree-nodes="" ng-model="node.nodes" data-nodrag>

this worked in my case.

[2016-03-11 13:12] nailaandleeb commented on #736
<a href="http://stackoverflow.com/questions/25510259/angular-ui-tree-dropped-location-catch-dropped-event-in-directive">This stackoverflow post</a>  helped me in this problem.

[2016-03-12 09:23] naveenn02 opened #740 "how to manupulate/access tree through javascript"
I have large number of nodes in tree and by default is collapsed. In order to ease to user, we have search screen, where he can find the node details that he is looking for. When user click this detail in search result, in javascript, i should expand the selected node till the root node. How can we achieve this?

[2016-03-12 13:54] moritzpflaum commented on #728
I found the same piece of code responsible for the same problem in my application.
In my case ``eventElm`` is a button before the code @30percent mentions is called. It's then changed to the parent and the subsequent "input element check" fails.

[2016-03-12 17:39] SvenJunga commented on #562
@zachlysobey have you found a better solution to this than my proposed hack? This seems to be a annoying bug to many people.

[2016-03-12 21:55] zachlysobey commented on #562
@SvenJunga nope, haven't even tried or looked into it; Just tracked down that line of code in the hopes that it might make it a little easier for someone to dig into this and perhaps submit a PR.

[2016-03-16 09:15] tangorri opened #741 "Drop on collapsed folder"
I need to allow drop on Collasped folder. Can't find the way ...

[2016-03-16 15:26] leonardochaia opened #742 "Removed callback is called when sorting nodes"
The removed callback function is called when nodes are being sorted.
This is due to the changes introduced in #673 because when a node is sorted the `remove()` function is called, and now it triggers the removed callback.
[code]
We are using the removed callback to actually remove the node from our server, and now the callback is triggered when the elements are sorted.
Is this the expected behavio

[2016-03-17 11:11] tangorri commented on #520
I also would like to handler dropOver, because I looking to a way to allow drop on close folder ...

[2016-03-21 12:38] frankpaap commented on #707
For now I removed

                    return;
                  }*/
On line 936 and it works for now...

[2016-03-22 07:17] alecgonzales opened #743 "can this be used with angular material instead of bootstrap?"
I noticed that the collapse does not work without bootstrap. (Correct me if I am wrong). My question is can I still use this without bootstrap?

[2016-03-22 08:50] alecgonzales commented on #743
found out that the class .hidden of bootstrap is hiding the collapsed nodes. i simply added a .hidden class to my css and i have no need for bootstrap.

closing since i found the solution.

[2016-03-22 08:50] #743 closed

[2016-03-24 03:23] mojogitoverhere commented on #497
Can you update the atmosphere repo? Seems like the latest version over there is 2.6.0_1.

[2016-03-24 11:56] Pirozek opened #744 "onClone event"
Hi, I want to ask, is there any way to detect that item has been cloned into tree from another tree? Something like `onClone` event? I know that there is `dropped` event, but it doesn't fire on drop from another tree :-(

[2016-03-25 08:34] Purewebdesign commented on #39
I know it's a long time ago, but perhaps people who are having the same issue in the future could be helped with what i'm going to tell.

I had the same issue `"Uncaught TypeError: Cannot read property '0" of undefined"`

The issue had to do with this code in my view and not with the digest ($apply):

[code]

i copied this from an example i found on the internet and changed the `ng-repeat`. Everyt

[2016-03-25 08:42] Purewebdesign commented on #724
You can use children, i do it, but if u used an example you found on the internet you have to change the child `<ol>` inside `<script type="text/ng-template" id="nodes_renderer.html">` something like this

[code]

to this (watch the changes i have made in ng-model and ng-repeat)

[code]

[2016-03-25 12:16] mwalter-healthagen commented on #724
Huh, I had exactly what you just wrote in the line above and got the error... Maybe I overlook something else. Thanks for the note @Purewebdesign, ill give it a go!

[2016-03-27 04:38] leettt opened #745 "relative parent container problem"
if parent container is relative of absolute,drag & move element position will get a error position...
you should modify code like this:
in dragStart
					      //dragElm.css({
                        //    'left': eventObj.pageX - pos.offsetX + 'px',
                        //    'top': eventObj.pageY - pos.offsetY + 'px'
                        //});
                        dragElm.offset({

[2016-03-28 08:18] salmanasiddiqui opened #746 "createDocumentFragment error on clicking a node"
Occurs on clicking a node.

The setup is as basic as it can be:
1) an array containing data
2) unlimited nesting html
3) click on any node

no callbacks or functions or anything defined.

[2016-03-28 08:32] salmanasiddiqui commented on #746
Just found that the issue is $rootElement.append only works if ng-app element is defined. But I am manually bootstrapping the app hence $rootElement.append is not working for me.
angular-hotkeys faced the same issue, they fixed it by using $document[0].body when $rootElement[0] is document.
https://github.com/chieffancypants/angular-hotkeys/issues/8

[2016-03-28 13:03] KaustubhDevasthali commented on #225
Hi,

Using ng-if instead of ng-class insanely imporved performance.

However in my case, I was able to drag the nodes when using ng-class. Now using ng-if, I'm unable to drag any node from the tree.

Any suggestions??

[2016-03-28 20:53] cavarzan commented on #744
@Pirozek I create a pull request supporting this issue. #747

[2016-04-05 15:25] 0sm3l commented on #608
Had the same issue with an ionic app and Android. This seems to fix it. Now it works on both iOS and Android.

Thanks!

[2016-04-06 23:22] pix0r commented on #661
I'm bumping into this issue as well using v2.15.0. @adamtsai1, did you happen to find a solution or work-around?

[2016-04-08 14:11] websirnik commented on #372
@Voles is it possible to merge https://github.com/rd-dev-ukraine/angular-ui-tree/commit/74aae11a95976abc6036e3b520218cba85f51da3?

[2016-04-09 20:03] Vixxd commented on #185
Hi all,

I'm still getting this issue without batarang. I have the map included on a single page:

[code]

 and the following code to init:
[code]

The error is as follows:
[code]

Versions:
[code]
Any help would be appreciated.

[2016-04-11 10:33] lagivan commented on #703
I confirm the bug. Moreover, it breaks bootstrap styles. So I have to add additional styles to `angular-ui-tree-drag`.

[2016-04-11 14:01] daaa57150 commented on #740
I also would like to know that.

[2016-04-12 23:23] SubJunk commented on #424
I've been experiencing these performance issues lately and I've tried the solutions in this thread. ng-if instead of ng-class makes a big difference but only when not many things are expanded, as @pelizza said. So while it's an improvement it's a shame to have to teach users to keep closing things behind them for performance.
I'm interested to see any new tips people have found

[2016-04-14 11:30] publicroot commented on #707
@ErgoSoftUk: Very good job. Thank you, saved my day.

[2016-04-14 12:05] guilhermepatriarca commented on #707
@ErgoSoftUK :)

[2016-04-14 12:09] ErgoSoftUK commented on #707
Glad it worked for you guys.  I did submit a pull request but someone said it didn't work for them.
https://github.com/angular-ui-tree/angular-ui-tree/pull/738

[2016-04-15 11:34] nishantsamant commented on #707
@ErgoSoftUK  : This issue still exists. I tried this code but I can be able to drop child only once on the empty parent node. When I am trying for second time, it's failing.

Need ASAP help.

[2016-04-15 11:35] nishantsamant commented on #707
@frankpaap This issue still exists. I tried this code but I can be able to drop child only once on the empty parent node. When I am trying for second time, it's failing. Need help ASAP

[2016-04-15 11:52] ErgoSoftUK commented on #707
My tree looks like this...

`<div ui-tree id="report-tree">
    <ol ui-tree-nodes ng-model="reportCtrl.reportContent">
        <li ng-repeat="node in reportCtrl.reportContent" ui-tree-node ng-include="'report_template.html'">
        </li>
    </ol>
</div>`

I've attached the compiled version with the fixes...
[angular-ui-tree-withFix.txt](https://github.com/angular-ui-tree/angular-ui-tree/files/2

[2016-04-15 14:54] blackat opened #750 "Access controller scope from $callbacks method"
Hi,
I have defined the callbacks in this way
[code]
and for each one of them I have defined a `function` further in the code.
I need to access one or more variables defined as ``vm.var1` for instance from the `accept`, is there a simple way to do?

Thanks a lot for the attention.

[2016-04-19 05:59] TheLegion opened #751 "Incorrect destination index passing to accept function"
While the node is being dragged over the tree, function 'accept' is being called for every destination. Function 'accept' is being called with dragging node and index of underlying node as arguments. Problem is that node can be placed before or after destination node. That depends of the dragging node position, e. g. result index may be equal to destination node index or destination node index plu

[2016-04-26 01:35] mbeauchamp7 opened #753 "Edit nodes?"
Is there a way to edit a node?

[2016-04-26 04:32] Exlord commented on #753
??? The nodes are binded to the model ...  edit the model and the node will be updated ...

[2016-04-26 13:42] mbeauchamp7 commented on #753
Sorry if I wasn't clear. I ment inline editing. I guess I could make an input appear when I select a node. In the demo, there isn't seem to be to do this. Maybe I'm wrong...

[2016-04-27 12:46] PinkaminaDianePie commented on #746
i was got same issue and resolved it by bootstrapping not on ```document```, but on ```body```
[code]

[2016-04-28 22:39] breity commented on #83
Any update here? I see the milestone was removed and this issue was closed. Was this ever implemented? Thanks!

[2016-04-29 08:47] FilipPoreba commented on #732
I found solution:
on angular-ui-tree.css there is:
`.angular-ui-tree-hidden {
    display: none;
}`

but it should look like this:
`.angular-ui-tree .hidden {
    display: none;
`

[2016-04-29 18:04] farantesrodrigues commented on #530
@ssivaprasad, I get the exact same error, did you find the problem ?

[2016-05-04 17:43] akritaag commented on #126
I had the same error but I was using the Angular UI Tree v2.4.1 . Now I have switched to v2.15.0 and the error has gone away.

[2016-05-05 20:00] nicklasb commented on #707
I am not sure, are any of the suggestions here a consistent fix? If so, can someone make a PR?

[2016-05-06 09:38] ErgoSoftUK commented on #707
@nicklasb There already is a pull request,
https://github.com/angular-ui-tree/angular-ui-tree/pull/738

[2016-05-06 12:38] DanielCaspers commented on #736
Should this issue ticket be closed then?

[2016-05-06 12:46] lee1994522 commented on #161
@JimLiu Could you tell me where should I place the attribute 'data-collapsed'?

[2016-05-06 13:25] lee1994522 commented on #635
@Voles Any update for this issue?Hope for help!

[2016-05-06 15:37] AlexKhymenko opened #756 "Can this be used with angular 1.5"
Can this be used with angular 1.5?
if yes Please update dependencies. :-)
Thank you.

[2016-05-06 21:45] SubJunk commented on #635
This can be done by storing an array called something like "openNodes" and storing it in a cookie to be read when the user comes back

[2016-05-09 00:01] SMERKY commented on #707
+1 - Our team has coded a work around to add a dummy object if the tree node is empty, but it is not the cleanest solution

[2016-05-09 00:42] nicolasr75 opened #757 "Leading node numbers"
I feel somewhat dumb to ask this but I included ui-tree in my code and I always have leading node numbers in front of my nodes like
1. First node
2. Second node
Where does this numbering come from and how do I remove it? As far as I recognize, I did only copy example code into my app with slight modifications. Looking at the html with developer tools (F12) the numbers do not seem to belong to the

[2016-05-09 08:43] nicolasr75 commented on #757
Ok, it was dumb! It was the default numbering of the ol-tag which was active because the ui-tree stylesheet was not correctly included.

[2016-05-09 08:43] #757 closed

[2016-05-09 12:53] enri90 opened #758 "Cannot read property createDocumentFragment"
angular.js:13236 TypeError: Cannot read property 'createDocumentFragment' of null
    at Function.n.extend.buildFragment (jquery.js:5087)
    at n.fn.extend.domManip (jquery.js:5387)
    at n.fn.extend.append (jquery.js:5218)
    at dragStart (angular-ui-tree.js:730)
    at dragStartEvent (angular-ui-tree.js:1044)
    at angular-ui-tree.js:1084
    at angular.js:18744
    at completeOutstandingReq

[2016-05-09 19:17] ernestopye commented on #746
Thanks @PinkaminaDianePie - this solved it for me as well. The problem appears to be when updating past 2.9.0. Going from 2.10.0 causes this to start happening. I'm on 2.15.0 now and it seems to work fine again after making this change.

[2016-05-12 08:42] enri90 commented on #758
FIX https://github.com/angular-ui-tree/angular-ui-tree/commit/b142ffb41436d0201eebb024bd3f5d07ad0b09e7

[2016-05-12 08:42] #758 closed

[2016-05-12 16:28] davechisholm opened #760 "$$hashKey not being populated leading to incorrect destIndex"
I've been having rather inconsistent issues with ui-tree where the destination index is often wrong by 1, especially when dragging downwards, and have seen a number of issues on here somewhat related to this.

Managed to narrow this down to $$hashKey being 'undefined', which led to a number of incorrect arrays being generated. I replaced it with a unique reference in my $modelValue, 'id' (which I

[2016-05-13 02:45] tcphuis commented on #111
Do you have a way to support this?

angular-ui-tree.js

[2016-05-13 06:36] tcphuis opened #761 "When treeConfig change defaultCollapsed is true drap and drop limit"
`    angular.module('ui.tree', [])
            ...
            defaultCollapsed: true
        });`
Why is drap only limit level 4?

[2016-05-13 08:56] tystol commented on #756
+1.
We're using it with 1.5 no problems, but the bower warning is annoying.

[2016-05-13 19:10] willbastian opened #762 "basic-example.js: breakpoint never hit on remove (line 7)"
Steps to repro:
- Navigate to running demo at http://angular-ui-tree.github.io/angular-ui-tree/#/basic-example
- Open developer console, set breakpoint at line 7 in basic-example.js
- Click the - (remove) button on a node
- Observe the node is removed, but this code is not hit

Discussion:
Let me know if I'm missing something, or can provide additional information. Am Hoping to work within this to

[2016-05-13 19:57] willbastian commented on #742
Are you using the removed callback because $scope.remove isn't hit when called from the ng-click? I'm encountering the same problem, and curious if you're working down the same road.

[2016-05-14 13:35] leonardochaia commented on #742
Well, unfortunately for us the workaround was to downgrade to the previous ui-tree release..
Hopefully @Voles can provide us a proper answer.

[2016-05-14 20:06] davechisholm opened #763 "Bug in elementIsTreeNode function returning incorrect 'outofbounds' variable"
My nodes have the structure

[code]

While dragging, the 'outOfBounds' variable is returning true whenever I drag over my content element. This is because the elementIsTreeNode function is checking if the target element has the attribute ui-tree-node. In this case, it is the _parent_ of the target node that has the ui-tree-node attr. The result is jerky / randomly flashing dragging. I have amended

[2016-05-14 21:37] davechisholm opened #764 "outOfBounds variable not available in callbacks"
Currently, if the outofbounds variable is true, this stops angular-ui-tree from updating the source array BUT, the beforeDrop callback is called prior to this, and doesn't have access to the outofbounds variable. I use the beforeDrop function to update the API with the move data, so it was doing the api call even if the move was 'out of bounds'. I solved this by passing the outOfBounds var to the

[2016-05-16 13:19] willbastian commented on #742
Thanks @leonardochaia, downgraded to v 2.13.0 and updated the remove method to be removeNode vs remove which lets me segregate the callback actions to only explicitly removing a node, vs also reordering the tree.

[2016-05-16 14:42] leonardochaia commented on #742
Hey @willbastian, glad to see that the workaround worked fine for you.
Anyhow, I still believe that this is can not be a definitive solution. I'd really like to upgrade the ui-tree to the latest version when possible.
I hope to hear any news regarding this issue.
Thanks,
Leo.

[2016-05-17 14:16] pedrommuller commented on #629
I had the same issue that @alamoot  also had, so I decided to apply @blemoine approach and it's working like a charm, any other alternatives to fix it?

I'm using angular 1.5, jquery 2.2.3 and 2.15.0

[2016-05-22 07:56] nicklasb opened #765 "Angular 2 and future"
Hi everybody,

So I have been lurking this project for a while, and I have been worried about the lack of commits and progress. I think that one could see this in two ways, as a dying project or an opportunity.

There is this real momentum behind wanting to move stuff to Angular 2, and this project, which actually only have Angular as its dependency, seems like a prime candidate to migrate to Angu

[2016-05-22 10:04] ali-habibzadeh commented on #475
+1

[2016-05-22 15:08] ali-habibzadeh commented on #518
+1

[2016-05-23 07:15] juristr opened #766 "Drag & Drop stops working when applying this Angular perf hint"
When I apply [this perf hint](https://ng-perf.com/2014/10/24/simple-trick-to-speed-up-your-angularjs-app-load-time/)

[code]

..then it looks like that the drag & drop is stops working. Anyone having the same issue?

[2016-05-23 07:52] felixruponen commented on #695
Is this issue still open?

[2016-05-23 16:14] VishalDaga commented on #475
+1

[2016-05-23 21:33] BKB503 commented on #144
any one has working example?

[2016-05-25 16:11] nordoff commented on #185
@Vixxd Try upgrading to 2.3.3. Moving from 2.0.11 to 2.3.3 fixed a `Cannot read property 'exp' of undefined"` for me

[2016-05-26 12:04] ali-habibzadeh commented on #765
I really hope this doesn't get killed. It's packed with good functionality. would be a shame to see it die.

[2016-05-26 12:34] nicklasb commented on #765
I don't think that it will be actively killed. Not if the community pulls together.

[2016-05-29 05:30] Tim1023 commented on #737
<ol ui-tree-nodes="" ng-model="tree1" data-nodrop-enabled="false">

Same not working in my case

[2016-05-30 10:03] anmolvarshney1993 opened #767 "Family tree in angularjs"
I want to create family tree in angularjs just like familyecho.com but they are doing it via javascript and i have to build it in angularjs.
Any help can be appreciated.

[2016-05-30 14:42] krloscosta34 commented on #210
This implementation is lost!!!
I think it happened in the commit 800dd0a43ce105d6301cd42038c1a28dbe3cd21e (Revert 5b1c360..ce185be) on 6 Feb 2015.

@clementprevot can you commit again?

[2016-05-31 07:30] Purewebdesign commented on #735
Most of the time you get this error when you forgot to change the `ng-model=""` to the `$scope` property

_Wrong example:_

[code]

_Correct example:_

[code]

Good luck

[2016-05-31 07:38] Purewebdesign commented on #750
Put these properties (variables as you like to call them) inside of your `$scope/$rootScope`? Then you've made them global to your document ($scope) or your entire app ($rootScope)

[2016-06-01 12:16] archasek commented on #185
@nordoff how did you upgrade it?

[2016-06-01 13:20] krloscosta34 opened #768 "Open a node when you hover the other node"
I saw the project history and this was already implemented at the issue #210 but the implementation is lost.

Can someone commit again?

[2016-06-01 15:35] nordoff commented on #185
I am using bower, so I simply changed the version in dependency list in my bower.js

[2016-06-01 15:37] archasek commented on #185
I did it too but IMHO it doesn't work as the most recent version is 2.15.0 O_o

Could you please give me the exact bower.json line?

[2016-06-01 16:26] nordoff commented on #185
@archasek
"angular": "^1.5.2",
"angular-google-maps": "2.3.3",

Hope that helps

[2016-06-02 18:29] bmwertman opened #769 "ui-tree-node not draggable & Error Cannot read property '0' of null"
I'm getting this error;
`Cannot read property '0' of null`  (for '0', '1', '2', '3'.....etc.) once for each of the 24 hours in my day. Then again for rows '8', '9','10' and '11' where I have events on the calendar.

![screen shot 2016-06-02 at 1 35 39 pm](https://cloud.githubusercontent.com/assets/2573903/15754614/ef322c44-28c6-11e6-96e0-24a87e464f8e.png)

This is my Calendar Day View template
[co

[2016-06-03 15:04] bmwertman commented on #769
I had to move `ng-model="rows" ui-tree-nodes=""` from the first `<tr>`up to the `<tbody>`. And then the `ui-tree-node` from the first `<td>` up to its parent `<tr>`

Then further down move `ng-model="tm.events" ui-tree-nodes=""` on the `<div class="add_event_shade">` up to its parent `<td>` and change the `ng-model="tm.events"` to `ng-model="rows"`. The HTML is shown below.

this fixes the error s

[2016-06-03 15:04] #769 closed

[2016-06-04 15:48] trashhalo commented on #218
incase anyone else hits this this seems to work fine with components on more mordern angular. updated the failing plunkr to work. http://plnkr.co/edit/bzCki5rLI2mrmVmCs6OK?p=preview

[2016-06-05 14:25] ConnectedReasoning commented on #210
Do you know way the rollback occurred? I'd like to see this feature become reinstated again.

[2016-06-06 08:29] SlyNet commented on #695
Still reproduced in 2.15.0 release

[2016-06-06 19:59] derek-adair commented on #756
How do you avoid downloading angular 1.4? is ther ea way to ingore all dependencies for a given thing?

[2016-06-08 07:28] danielforsberg commented on #471
+1

[2016-06-08 08:17] danielforsberg opened #770 "Documentation on how-to select multiple nodes"
Hi there, I found this [#160] (https://github.com/angular-ui-tree/angular-ui-tree/commit/432c73bf9a4db0a34d3e1b8a7ee846e5ce2bfc04).
But no example or explanation on how to use it in the documentation.

[2016-06-08 10:10] nijeeshvayalassery opened #771 "Drop inside a empty parent"
Thanks for this awesome module.
Issue i am facing is when dropping into a node which has no children's, its very hard to get the node dropped in side node. The solutions i have found in this issue threads are to put an null array if node is empty. I have tried that ,but still there is difficulty in placing the node inside parent. It would be very hep full if you can help on this.

Thanks in advanc

[2016-06-08 15:49] Smolations commented on #645
+1

This is happening in v2.15.0 as well. I have changed my manual bootstrapping to target the `body` instead of `document`, but another solution may be needed if the root element needs to be the `document` in order to dynamically change the `<title>` for various routes.

I think I may favor @jozsinakhivnak's solution in favor of the solution proposed by @qcmatsuoka because it would be tedious to

[2016-06-09 15:44] Smolations commented on #707
+1

After a year of implementing this library, we are still unable to turn of angular debug info in production. My excitement for the v.2.15.0 release which solves the problem quickly turned into frustration due to this particular issue.  😖

[2016-06-09 16:27] nicklasb opened #773 "The situation of the project is untenable"
The last commit to the project was now 5 months ago. This is untenable, it is obvious that the project maintainer no longer have time for the project.

This is the way it is with open source projects, the people behind them come and go.
I don't know why a project with almost 2000 stars on github end up unmaintained.
It may be that @Voles didn't feel the proper involvement from the users.
And, well

[2016-06-09 20:45] SMERKY commented on #707
@smolations - We have been able to switch off angular debug info with this library in production. Are you sure you have updated to the latest version or another library is not causing the issue?

[2016-06-09 20:47] Smolations commented on #707
@SMERKY I am definitely using the latest version of this library. We are running Angular 1.5.6. We have the placeholder option set to true so we can see the drop zone. When the tree is empty, I am unable to drop a new node. If at least one node is present, dropping works as expected.

[2016-06-10 13:25] krloscosta34 commented on #210
Maybe you can see what @clementprevot change and recommit it again.

[2016-06-10 15:34] pconihout opened #774 "Display in a table"
Hello,

I want to display my whole tree in a table.

I tried :
[code]

But it doesn't display anything. If i do instead :
[code]

But as you can imagine, with the <td> it show every nodes on the same line ... And i want each node on a separate line.

Any ideas on how to fix this ?
Thanks.

[2016-06-10 15:52] #774 closed

[2016-06-10 16:29] pconihout opened #776 "Display in a table"
Hello,

I want to display my whole tree in a table.

I tried :
[code]

But it doesn't display anything. If i do instead :
[code]

But as you can imagine, with the <td> it show every nodes on the same line ... And i want each node on a separate line.

Any ideas on how to fix this ?
Thanks.

[2016-06-10 16:53] derek-adair commented on #773
Glad to see this post here, i just noticed this as well.  I am more than willing to contribute what I can... this component is easily the best tree-view in angular from my best estimate.  5 months is a very long time to be gone.  Looking at @voles contributions it looks like he's kicking ass on a private project for the past 5 months.  I've reached out to him in an effort to see if we can be more

[2016-06-10 17:04] derek-adair commented on #773
For what its worth i had some immediate needs to build this project w/ angular 1.5 via bower so I forked, and registered a new bowerpackage... .angular-ui-tree-redux.  Let me know if you think anything should be pulled in and we can make a release.

[2016-06-10 17:07] StefanCodes commented on #773
I agree, the project needs help. I have committer privileges but very little time to even think about this project lately. I'm setting aside some time on Sunday to merge the existing PRs that are in good shape, but I don't expect to be able to give much ongoing attention to the project.

Fundamentally we need a few more active contributors. Perhaps some of the regular commenters in the issues are

[2016-06-10 17:11] nicklasb commented on #773
Well, if you have commit rights, that is a start.

[2016-06-10 17:51] derek-adair commented on #773
woot.  looks like my redux release can be deleted shortly.  (still need it for now until youc an merge my request or else i'm dead in the water).

[2016-06-10 17:55] derek-adair commented on #773
If you can give me commit rights I can help organize the issues on my down time.  There are about 250 open right now that need attention.  Right now i'm gonna just go through what I can and solicit pull requests for those that are relevant.

[2016-06-10 17:56] derek-adair commented on #770
No commits in 5 months to master, if you've figured this out i'd suggest opening a pull request as we are trying to [revive](https://github.com/angular-ui-tree/angular-ui-tree/issues/773) this project.

[2016-06-10 17:58] derek-adair commented on #767
This isn't an appropriate forum for this type of question.  I'd suggest trying the google [angularjs group](https://groups.google.com/forum/#!forum/angular).

[2016-06-10 17:58] derek-adair commented on #771
Have you tried over-riding the drop-zones CSS?

[2016-06-10 18:02] derek-adair commented on #210
Considering the health of htis project (no commits in 5 months)...

I'd suggest forking, manually adding this commit in and trying it out yourself.  If it works, write some tests and make a pull request.

Currently there is an issue open for helping this project along.  You're greatly encouraged to contribute anything and everything you can.

Cheers!

[2016-06-10 18:06] derek-adair commented on #768
Duplicate.... #210

[2016-06-10 18:09] derek-adair commented on #765
Personally, I have zero interest in angular 2 at the given moment and even foreseeable future.  I'm entirely on board for contributing towards the Angular 1 version of this project tho.  I wonder how supporting both angular 1/2 will look like?

[2016-06-10 18:10] derek-adair commented on #768
Which was reverted at some point unfortunately.

[2016-06-10 18:10] derek-adair commented on #768
I know its closed but we can re-open it once we get more active contributors (hoping for commit access soon).

[2016-06-11 06:16] nicklasb commented on #765
The nicest solution, IMO, would be to treat them as if they were different
frameworks.

That is, breaking out a common vanilla ES6 core and then use that as a
module in A1.x/js and A2/typescript variants.

That way, one could get the most advantages from both.

Another upside with that would be that is would be easy to port the concept
to other frameworks, for example react-ui-tree or whatever.
On

[2016-06-11 14:26] derek-adair commented on #765
Right, so vanilla ui-tree that has implementations in both angular1/2 + other frameworks in the future?

Are there any other projects out there that are structured this way?

[2016-06-12 22:27] StefanCodes commented on #765
I've been spending my development time in Angular 2 lately and have been giving this some thought, too. ng2 is pretty dramatically different - especially in the recommended ways of implementing UI controls like this one.

I don't see any practical way to link this project with an ng2 equivalent, aside from, perhaps, the developers interested in working on it. It's certainly practical to use this c

[2016-06-12 23:09] StefanCodes commented on #756
ui-tree 2.16 has been released that explicitly lists Angular 1.5 as a dependency.

[2016-06-12 23:09] #756 closed

[2016-06-13 01:25] SMERKY commented on #707
@Smolations - These are two seperate issues. Not being able to drag into an empty tree is a bug with the library whether you have angular debug on or not. It seems the library is running fine with angular debug off, but you are experiencing the same bug as the rest of us. Hopefully it gets fixed in the next version..

[2016-06-13 18:27] derek-adair opened #777 "Placeholder + Highlight on indention"
The placeholder is nice, but it isn't exactly clear which level you are dropping the active node to.  In addition to a placeholder it should *somehow* represent which level the node is being dropped into.

Here is an exaggerated example.
![xample](http://i.giphy.com/3o72FbIGu3hfpASU5W.gif)

[2016-06-13 18:47] derek-adair opened #778 "Cannot drop next to nested siblings"
This one is a bit cryptic but becomes clear in this exaggerated example below; basically it seems that you cannot drop an element in the middle of a nested tree.. you need to adjust the level of indention at the last node that is indented.

![Drag child bug](http://i.giphy.com/3oEjI6IpUB1ZX1zYbe.gif)

[2016-06-13 20:21] derek-adair opened #779 "Need to push tag for bower release"
In order for bower to register a new release you need to push the tagged version up to github.  Let me know if this is unclear or you need any help with this.

Also if you somehow got me write access I can take over that aspect.... please ;)

[2016-06-13 20:24] derek-adair commented on #779
@Voles plz... sir...

[2016-06-13 20:26] StefanCodes commented on #779
Whoops, forgot to check the 'push tags' box! That should be live now.

[2016-06-13 20:56] ernestopye commented on #635
I'm running into something similar. I was going with an approach similar to what @SubJunk suggested.

Is it possible to traverse the tree node scopes? I'm basically temporarily caching the data used to populate the tree (in memory, only care about the current tab). I'm loading child nodes on demand, as we're dealing with a lot of data. I have the tree nodes as collapsed by default (via .config()).

[2016-06-14 05:50] beno-dlabs commented on #766
+1

[2016-06-14 06:26] Sharykhin commented on #766
+1

[2016-06-14 06:30] juristr commented on #766
Any idea what could be the problem here? I'm willing to provide a PR

[2016-06-14 14:19] ernestopye commented on #591
Hey @forcewill, do you know how to get a reference to the root node? The solution sounds simple enough, but I'm not sure how to access the root nodeScope in order to traverse and tree and set the "collapsed" property as needed.

[2016-06-14 16:36] derek-adair commented on #779
Looks good

[2016-06-14 16:36] #779 closed

[2016-06-14 16:43] derek-adair commented on #778
This isn't a show stopping bug but its pretty close.  However, without  #777 this component is unusable for me.  Expect updates on one of these two very shortly.

[2016-06-14 18:27] StefanCodes commented on #766
Related issues(?): https://github.com/angular-ui-tree/angular-ui-tree/issues/425, https://github.com/angular-ui-tree/angular-ui-tree/issues/521

@Voles attacked this problem late last year and I had thought it was fixed and merged:
https://github.com/angular-ui-tree/angular-ui-tree/pull/596, then https://github.com/angular-ui-tree/angular-ui-tree/pull/648

The problem in the past was that the drag

[2016-06-14 19:39] Smolations commented on #707
@SMERKY Sorry, I should probably clarify. Turning angular debug off has been impossible up until the most recent release of this library (2.15.0). So in order to turn debug info off, I _must_ install that release. The current version my team is using is 2.7.0. At that version, the bug to drag into an empty tree is non-existent. It broke some time between 2.7.0 and the current release. So, while my

[2016-06-14 20:06] StefanCodes commented on #707
@Smolations - I merged a PR that addressed dragging into an empty tree and released it with 2.16 - can you give that build a try and see if it resolves all your issues?

[2016-06-14 20:16] Smolations commented on #707
@StefanCodes Huzzah! After installing 2.16.0 my app is working as expected again! I will get this change into production (_without_ debug info!) and keep a close eye on feedback to see if there are any further issues. Thank you so much for helping get the fix out!  😄 👍

[2016-06-14 21:09] StefanCodes commented on #707
Excellent! Closing this issue - anyone following please reopen if you're still having issues.

[2016-06-14 21:09] #707 closed

[2016-06-14 21:16] StefanCodes commented on #773
I only have commit rights to the repo - unfortunately I don't have any rights to add or remove people from the project. We're going to have to wait for @Voles to return before we can add anybody new.

I'm happy to merge PRs and keep bumping release numbers. My biggest problem is that I spend little time working in Angular 1 and with ui-tree, so I spend far too much time getting my head back into u

[2016-06-15 05:24] hjc879227 commented on #475
+1

[2016-06-15 08:38] derek-adair commented on #773
understood, definiltey trying to figure out whatever magic incantation we need to get @voles back :p hahah.  Thanks for how responsive you've been so far.

I'll see what I can do about reviewing some PRs and actually fixing some behaviors that I am needing personally which I've filed under #777 and #778. If/when he gets back I can hopefully be a lot more involved in the management of this project

[2016-06-15 08:42] derek-adair commented on #632
This is almost certainly an issue with how you've installed node.js.  I highly suggest just using [nvm](https://github.com/creationix/nvm).

[2016-06-15 08:47] derek-adair commented on #490
This is *probably* because the scripts aren't included locally in the fiddle.  My suspicion is @noog has his local code, which is different from this fiddle altogether.  But ya that fiddle doesn't work because the scripts are not actually there, you can see it throwing 404 errors.

This can probably be closed due to inactivity and lack of response from @noog

[2016-06-15 08:50] derek-adair commented on #405
Ya'll have missed a key part of information on this bug.  What version are you migrating from? :)

If you are migrating from 1.x you need to check out this [well written summary](https://github.com/angular-ui-tree/angular-ui-tree/wiki/Migrate-From-v1.x-to-v2.0).  If not please provide what version numbers you are migrating from specifically?

[2016-06-15 08:57] derek-adair commented on #308
Is this still an issue in 2.16?

[2016-06-15 09:00] derek-adair commented on #358
Here is this bug in gif version... still around in 2.16.0.  I will be attempting to slay this bug along with #777 if anyone has a fix hidden in their pocket that'd be really F@!$ing rad :)

[2016-06-15 13:49] nijeeshvayalassery commented on #771
Its fixed. the issue was, by default i am collapsing all the nodes. so the node without children also gets collapsed. what i did is, in drag move i expanded the children nodes of the current parent.

[2016-06-15 13:49] #771 closed

[2016-06-15 16:51] derek-adair commented on #771
Hm, that's clever.

this seems like  a symtom of another bug.  i think there is something about expanding a collapsed node on drag or something hanging around here, you may want to check it out.

[2016-06-16 10:24] nicklasb commented on #773
Incantation? I'd rather try sufficiently advanced technology. :-)

Cool!

[2016-06-16 11:25] Voles commented on #773
Hey all! First of all, sorry for the late reply.
I've indeed spent more time on other projects. I have been working on a React and Ember applications, so it wasn't obvious for me to work on this Angular module.

 I'm definitely willing to put some more time in Angular UI Tree again! However, I don't want to give just anyone push rights from the start. There's plenty of other work to do which would

[2016-06-16 15:29] lingthing5 commented on #309
Hi, i'm having this issue also. My issue is that angular requires me to put `track by` within my ng-repeat, but `track by` removes $$haskKey from the object.

[2016-06-17 10:20] lgleim commented on #475
+1

[2016-06-17 10:21] lgleim commented on #475
might want to merge with issue #765

[2016-06-17 13:47] STheFox opened #781 "Default expand tree to level 3"
How to default expand the nodes from the tree until level 3?

[2016-06-17 15:02] fabiohaertel opened #782 "Empty angular ui tree template"
Hello.

Im using the connected trees model with an arbitrary number trees. So far, all working good.

When one of the trees is empty, a div is automatically created: angular-ui-tree-empty

I was able to change the background color of that div to #fbfbfb. The problem is that I need to add some text inside the div. Something like:

--------------------------------------------
|         No items adde

[2016-06-17 20:32] krloscosta34 commented on #210
@rribou , did you solve this problem?

[2016-06-17 20:40] krloscosta34 commented on #210
@StefanCodes, can you commit this modifications in the master project?

[2016-06-17 20:57] StefanCodes commented on #210
@krloscosta34 Yep, I can do this.

@rribou, would you like to submit your changes to the project as a PR?

[2016-06-20 07:58] rribou commented on #210
@StefanCodes done.

[2016-06-20 14:22] derek-adair opened #784 "Horizontal Tree view for journey editor"
There are some visual adjustments i'm making in order for this component to render like the salesforce journey builder.

[2016-06-20 14:29] #784 closed

[2016-06-20 14:29] derek-adair commented on #784
woops wrong repo ;)

[2016-06-20 14:36] derek-adair commented on #301
This is not clear what your problem is, nor what your question is.  recording a video and uploading it to [giphy](http://giphy.com/) and linking it here.... if this is even relevant 1.5 years later.

[2016-06-20 15:51] TopGunBasten commented on #298
it is also cannot working with angularjs 1.3.13

[2016-06-20 16:19] derek-adair commented on #241
This would be a useful example ;)

[2016-06-20 16:29] derek-adair commented on #765
Crazy idea:

Convert to plain Ecmascript?

This is a really solid base tree-view implementation.  Loving it the more and more i really dig down deep.  A lot of, if not all of this code can be re-used and/or translated to a vanilla ES6 module.  I *believe* this would make it compatible w/ Angular2 by default? but i've not really played around w/ that yet.

I'm bringing this up because, for a number

[2016-06-20 16:34] carolinagc opened #785 "Prevent placeholder from creating a DOM element on dropped event"
I want to prevent ui-tree default behavior on dropped event, specifically the creation of an empty element in the DOM, that is the placeholder.

I'm using ui-tree between two connected trees but on dropped I see the placeholder instantly creates an empty element in the tree, while I want to have control over the tree view model since I update the tree view model once I receive the websocket messag

[2016-06-22 09:08] ThomasVD88 commented on #707
I've added is a bower webjar to webjars.org

[2016-06-22 14:44] AndrewIsh commented on #760
:+1:

I've just lost the best part of a day to this one :-(

As I understand it, `$$hashKey` is populated by Angular automatically when a user is not using `track by` in their `ng-repeat`. I am, however, using `track by` and therefore have no `$$hashKey` property in my array elements.

Consequently, if `$$hashKey` is not present, as @davechisholm says, the population of the array in `$scope.childN

[2016-06-22 21:20] StefanCodes commented on #210
Thank you @rribou!

I'm merged this locally and it looks good, but I'm concerned about the amount of support requests we might end up with. I'd like to include some documentation and a new example for the demo site.

If anybody has some spare cycles to update documentation and create an example that would be great (please add to https://github.com/angular-ui-tree/angular-ui-tree/pull/783). Otherwi

[2016-06-23 03:05] punpunm opened #786 "Cannot drag into an empty list"
Dear, I have deleted all nodes in [this example](http://angular-ui-tree.github.io/angular-ui-tree/#/connected-trees) and try to drag other node into the empty list, but it does not work. Seems it should have at least one element in the list to work fine.

I found there are a fix in v2.16.0 (which fixed issue dragging and dropping a node into an empty tree). But I cannot drag into the empty list in

[2016-06-23 04:07] punpunm commented on #786
I found the reason, because I set the data-empty-placeholder-enabled="false".
Is it possible to set it false and drop into the list?

[2016-06-23 08:34] #786 closed

[2016-06-25 04:58] khackskjs commented on #700
@poonwu have you solved this problem?!
I've also found this problem and I want to change node in the middle of parent into their parent's sibling, like you said "1.) Try drag node2.1 back to root level (doesn't work)"

[2016-06-30 04:15] hquangthinh opened #787 "With built-in support of the tree, is it possible to drag a branch or a node and drop to a leaf node?"
Hello,

With built-in feature is it possible to drag a branch or a node and drop to a leaf node?

Currently in the demo I can only drop into a node if it has at least 1 child node.

Thank you,
Thinh

[2016-06-30 04:22] hquangthinh commented on #787
I've just found this commit will help to answer my question
https://github.com/angular-ui-tree/angular-ui-tree/pull/780/commits/2ef35f281c6a1c94c82f0b5370e69f55196c927c

[2016-06-30 04:22] #787 closed

[2016-06-30 08:22] sotr7 opened #788 "moving nodes in collapsed tree"
if I use $broadcast('angular-ui-tree:collapse-all'); then in drag-enabled mode it is not possible to move nodes into nodes that don't have children

[2016-06-30 10:45] ps3331333 commented on #687
where you able to achieve this? to drag from a tree to an external div?

[2016-07-02 01:22] StefanCodes commented on #210
I added a basic example and updated the readme.

I feel like the basic behaviour is a bit annoying due to how aggressively the placeholder jumps around. This can be dealt with by anyone implementing this in a project, but it would be nice to make it a little cleaner out of the box. I'm considering that out of scope for holding up this release, though - this has dragged on long enough.

If anyone i

[2016-07-02 01:22] #210 closed

[2016-07-06 15:48] ConnectedReasoning commented on #210
I tested this out. It works well. Thanks!

[2016-07-11 06:27] EnhengBenben opened #790 "create new parent node"
How to create a new parent node,I don't want to move children node

[2016-07-11 14:07] Bakirelived commented on #707
Is the demo using an outdated version? I have the same problem reported on the first post, on the demo page. Also, I've updated my version to the latest(2.17), and I can't drop into an empty tree.

[2016-07-11 14:55] Bakirelived opened #791 "Can't drop nodes onto an empty tree, placeholder blocks it."
I have tested it on the demo page, and both in connected trees and in cloning, if you delete all nodes on tree2, you can't drop the first tree nodes onto it. So far I've figured that if I increase the size of the tree div with css, I can now drop nodes onto the new extended part, but not onto the placeholder image.

If you are having this problem, I recommend using the directive `data-empty-placeh

[2016-07-11 19:31] krloscosta34 commented on #210
Very good this implementation :)
Congratulation!!!!

But I have two suggestion:

when open a node on hover, call toggle callback (for example, I have lazy loading to children)
put a delay to open with hover, so the user can choose a node to open (and no every node)

[2016-07-13 15:25] pkatta opened #793 "expandOnHover attribute considers only boolean value."
expandOnHover attribute should be consider boolean and numeric value.
Boolean : Will expand each node when user drags on node.
Numeric : Will expand the node only when the user drags node and hover node to particular time.

[2016-07-14 20:31] spatster opened #794 "data-nodrag - how get element on click?"
Hello.
itemClicked - not working? how get click on node?

[2016-07-18 14:49] urza710 commented on #707
Demo fail with 2.17.
This issue has not been fix

[2016-07-20 08:35] tambovchanin opened #795 "Conflict with treeControl"
Hi!

Thank you for your control.
I am find conflict when using it with another tree https://github.com/wix/angular-tree-control,
`ui.tree` lost their css styles when I am inject `treeControl`

[2016-07-20 12:05] carolinagc commented on #785
After trying different things I came with a work around, to prevent placeholder from showing due to the creation of a DOM element on dropped.

I've used the beforeDrop function that is called before the dragging node is dropped to remove the dragging node from the destination tree.

The code looks like:

[code]

[2016-07-20 12:11] carolinagc commented on #791
I guess you have the same issue as addressed in #755
It was fixed but for some reason now is not included in v2.17, you can patch it by introducing the code that fixes it, described in https://github.com/angular-ui-tree/angular-ui-tree/pull/738/files

[2016-07-21 17:50] ImportSumit commented on #175
Hi Jim ,
I am getting same error  Error: [$compile:ctreq] Controller 'uiTreeNodes', required by directive 'uiTreeNode', can't be found! because I am using ng-tree for creating a specific tree structure

<div ui-tree >
<ul ng-tree="testData"  ui-tree-nodes ng-model="testData">
    <li ui-tree-node >
    <div ui-tree-handle>
    <span id ="{{item.id}}">{{item.description}}</span>
    </div>
    </li

[2016-07-24 07:02] i-am-dror commented on #695
2.16.0 still has the problem

[2016-07-25 14:17] AndrewIsh opened #796 "Allow for multiple drag uiTreeHandle directives on a single node"
Currently only a single `uiTreeHandle` directive is supported on a single node. This is limiting if the developer wishes to have more than one, perhaps each one triggering a different action.

It would be nice to be able to specify multiple `uiTreeHandle`s on a single node and to provide the ability for the developer to pass an arbitrary object to each one, therefore enabling him to identify which

[2016-07-27 14:05] DisasterMan78 commented on #695
Also in 2.17.0

[2016-07-28 19:25] malamili commented on #395
+1

[2016-07-28 19:26] malamili commented on #731
+1

[2016-07-29 00:39] nicklasb commented on #765
I would like to report that it is possible to combine angular-ui-tree and Angular 2 components using ngUpgrade.
It is an admin interface for a framework I am creating(aren't we all) in a hybrid Angular 1/Angular 2 environment.

It is written in Typescript, uses SystemJS/JSPM and has a plugin structure, so its technically pretty advanced and perhaps it is not the most simple example.
But its there,

[2016-07-29 00:46] nicklasb commented on #765
@derek-adair A completely plain ES6 variant is, while possible, not perhaps something that would be useful for at least me, I would like to have the framework integration.

[2016-07-29 09:37] DoobleD commented on #707
I have the issue as well on 2.17.

[2016-07-29 13:22] DoobleD commented on #203
Thank you @Kaylors and @jacksoncharles, I had the same problem, this helped a lot !

[2016-07-31 09:45] DanieleRatti opened #798 "Sometimes dropping doesn't work"
I noticed that sometimes, even if accept, dragStart and dragStop events are called and return true, the "dropped" event is not called and the drag'n'drop does not succeed.

Does anyone know this issue?

Update: I just discovered that it happens when I try to move an item under another item with a huge height (see the attachment). It's caused by the variable outOfBounds which seems true when I rele

[2016-08-01 14:10] noherczeg commented on #794
ng-click?

[2016-08-01 16:57] pmdunggh commented on #695
Line 1065 in v2.17.0 un minified, dragInfo is null when user press Escape key!

[2016-08-02 12:30] SergeyMell commented on #663
I faced the same issue! I've tracked versions from 2.1.0 to 2.17.0 and faced it in all of them. The only difference is that in 2.1.0 only first attempt of drag&drop works incorrect. All other attempts work OK for the same element.

[2016-08-02 15:15] c0mradeuc opened #799 "Error on pressing button esc"
![screenshot_37](https://cloud.githubusercontent.com/assets/16196167/17333915/502fcc76-58a2-11e6-946b-80dde81321fe.png)

In chrome when i press esc a error is logged.

[2016-08-05 07:50] Ochita commented on #663
@SergeyMell, I made some workaround - the directive which wraps "ui-tree" and converts strings to objects and back when needed. I created sample on codepen http://codepen.io/Ochita/pen/jAZbpm

[2016-08-05 10:36] JoaoLeiria commented on #732
@FilipPoreba 's solution is working. Thank you

[2016-08-08 10:00] noherczeg commented on #562
+1

[2016-08-09 08:58] iamisti commented on #19
Experiencing the same in 1.5.8

[2016-08-09 09:31] shayanea commented on #181
Use filter in your controller to sort data
$scope.TreeObject = $filter('orderBy')(data, 'Sort');

[2016-08-12 16:49] mhamri opened #800 "angular ui tree limit max depth"
I want to limit max depth of angular UI tree, i added data-max-depth="2" to ui-tree like this
[code]
It works for single nodes. but problem is when I take a parent node with some child and drag it under another parent node. it let me to drop it. so in this case i can have 3 level. it look like a bug to me.

am i missing anything?

[2016-08-13 02:47] mhamri commented on #800
the problem belongs to version 2.9.0, i got it from npm, look like the npm version is not latest one, i got the latest from bower and the problem solved, anyway pls update the npm repo

[2016-08-16 09:02] smart987 opened #801 "is it possible to represent Organizational tree"
Is it possible to make this appear similar to Organizational tree structure some thing like (https://github.com/caprica/jquery-orgchart)

[2016-08-17 12:33] molly-dushka commented on #522
I had the same problem. It seems like it's not about angular-ui-tree, it's just the way Firefox handles images and links dragging by default. Add draggable="false" attribute to your <img> or <a>, it may help.

[2016-08-17 16:00] nifft opened #802 "Error: ngRepeat:dupes Duplicate Key in Repeater"
I have set up the following tree.
[code]
The model is initially empty.

[code]

Then I populate the tree and get a model like the following.

`
[{"id":"c82561ec215a6e31807ceedf3b3bd25e","title":"n1","description":"d1","nodes":[{"id":"a6bbc91ae73dd21c0533f735470a9cd0","title":"n2","nodes":[],"$$hashKey":"object:58"}],"$$hashKey":"object:43"},{"id":"4443aee183b279f76a95c13c7f5bca0d","title":"n3","no

[2016-08-25 18:13] jacobscarter opened #803 "Horizontal Trees?"
I am getting some poor performance from angular-ui-tree and unexpected behavior, due to the amount of PRs and Issues open I decided to fork and use my own repo.

While cleaning up some code i see what looks like leftovers from when a horizontal tree was supported, but I can't find any documentation for it.

Is this something that was removed or something that is currently being added?

[2016-08-25 21:07] jacobscarter commented on #803
On this note there were two major problems that were blockers for me with angular-ui-tree, the first was not being able to drag a node from one tree to another that were side by side, this was because unless it broke the hard coded threshold of 30px it would not register as a vertical movement and therefor not hit the logic to move the node from one tree to another.

The second problem was a major

[2016-08-26 23:54] jacobscarter commented on #802
@nifft it is hard to say without seeing nodes_renderer.html but this error is almost always fixed by adding `track by`.  For example:

`<div ng-repeat="row in data track by $index">`

[2016-08-27 08:00] jacobscarter commented on #800
npm has been updated and this can be closed.

[2016-08-27 08:30] jacobscarter commented on #799
Fixed in PR https://github.com/angular-ui-tree/angular-ui-tree/pull/807

[2016-08-27 08:37] jacobscarter commented on #795
I don't know if this is something angular-ui-tree should address.  The class names are already pretty customized, e.g. `.angular-ui-tree-nodes` and they shouldn't be much more specific or locked down because then it will be more difficult to override the styles if the user wishes to.

[2016-08-27 08:38] jacobscarter commented on #794
I think this can be close, @spatster are you still having problems?

[2016-08-27 08:39] jacobscarter commented on #793
@pkatta Are you suggesting we add a customizable delay on the expandOnHover?

[2016-08-27 08:43] jacobscarter commented on #791
#755 code is in the current version of this module.  Does that code fix the issue or is PR #738 still needed?

[2016-08-27 08:43] jacobscarter commented on #790
Can you elaborate?

[2016-08-27 08:47] jacobscarter commented on #252
bower is up to date @StefanCodes this can be closed.

[2016-08-27 08:47] jacobscarter commented on #253
@StefanCodes looks like this can be closed.

[2016-08-27 08:48] jacobscarter commented on #255
Ticket is 2 years old and Unit Tests pass, @StefanCodes I think you can close this.

[2016-08-27 08:48] jacobscarter commented on #263
@StefanCodes @Voles cloning is a thing so this can be closed.

[2016-08-29 09:34] jammed343 opened #808 "defaultCollapsed = true Makes it no longer possible to drop under leaf node"
Leaf nodes should not be set as collapsed to fix this

[2016-08-29 10:10] jammed343 commented on #808
Actually I'm unclear on the issue with leaf nodes, looking into the cause

[2016-08-29 10:10] #808 closed

[2016-08-29 22:01] pkatta commented on #793
@jacobscarter : Yes.

[2016-08-29 22:01] pkatta commented on #793
@jacobscarter : Please check my PR for same.
https://github.com/angular-ui-tree/angular-ui-tree/pull/792

[2016-08-30 17:26] StefanCodes commented on #795
This sounds like a coincidental collision of CSS class names as user by another tree-based control.

I think the only real solution here is for one of those controls to rename the classes they use, and that's going to cause breaking changes for all the users of one of the other control.

Furthermore, I'm not sure this is a problem anymore, either. I see on their readme (https://github.com/wix/angu

[2016-08-30 17:26] #795 closed

[2016-08-30 17:26] #252 closed

[2016-08-30 17:26] StefanCodes commented on #263
Confirmed #411 was merged by @Voles.

[2016-08-30 17:26] #263 closed

[2016-08-30 17:27] StefanCodes commented on #255
@Voles rewrote a huge amount of the test infrastructure last year - this ticket ought to be resolved based on that.

[2016-08-30 17:27] #255 closed

[2016-08-30 17:28] #253 closed

[2016-08-30 17:32] #800 closed

[2016-09-02 15:57] fcpauldiaz-erealabs commented on #776
@pconihout I'm trying to do this. Did you solved this?

[2016-09-02 19:02] pconihout commented on #776
@fcpauldiaz-erealabs : I tried using directives too but it didn't work too. So I've done a non-elegant but working solution : use an additional array.

[2016-09-05 18:20] srikandula commented on #424
The notes from gipsyprsd have really helped a lot...ng-if makes a huge difference. Earlier it used to take me 120 seconds...and with this correction it gets down to 5 to 6 seconds

[2016-09-05 22:02] StefanCodes opened #809 "Contributor review/deployment process"
There's a handful of steps involved in processing a PR and deploying a new release of angular-ui-tree. I've briefly recorded the steps I followed in processing the last few PRs.

What I'd like from this ticket is for us ( @Voles  @jacobscarter) to reach a consensus on a process that works for everybody, and then get this documentation somewhere we'll find it (like the readme).

## Accepting PRs:

[2016-09-06 04:41] jacobscarter commented on #809
Bullet to add to "To Create A Release" section

* Publish to npm with `npm publish ./`

All necessary people will need to be added to the npm account on http://npmjs.org

Command line details for making sure the bower package is updated:

[code]

We should put this in a CONTRIBUTING.md file

Also I notices in the angular-ui-tree account there is a repo called bower-angular-ui-tree, maybe we should

[2016-09-06 04:49] jacobscarter commented on #424
I will look into this as soon as possible, poor performance could kill this project and we don't want that!

[2016-09-06 14:02] sebek64 commented on #798
I've discovered the same error. For me, the problem is the following sequence of steps:

1. accept is called - returns true
2. accept is called - returns false
3. beforeDrop is called, returns a promise
4. even when the promise succeeds, dropped is not called

The problem is with outOfBounds variable, which is assigned true in the "else" branch.

[2016-09-06 18:35] Voles commented on #809
@StefanCodes this is perfect. I've created a PR with the sections you've suggested + a section on how to submit a PR.

@jacobscarter great idea to create a CONTRIBUTING.md file. I've looked into the `bower-angular-ui-tree` repository and it seems like it isn't used anyhow. @StefanCodes do you too agree we can remove it? All files needed for Bower are inside our main `angular-ui-tree` repository.

[2016-09-06 18:39] Voles commented on #803
@jacobscarter we don't intentionally support horizontal trees. I can imagine some people do / will want to use it. In that case it should be explicitly documented + a sample added to our demo page.

Thanks for investigating and sharing your work with us!

[2016-09-06 18:40] Voles commented on #803
Closing as this is being solved with #806 and #810

[2016-09-06 18:40] #803 closed

[2016-09-06 18:48] Voles commented on #809
Another thing we can add is a template for new issues. See https://github.com/blog/2111-issue-and-pull-request-templates

[2016-09-06 19:07] StefanCodes commented on #803
I vaguely recall that there was an additional horizontal tree-based demo on the old demo page (the one under @JimLiu's GitHub account). That appeared to be long-obsolete before I started using ui-tree.

There may be some misleading comments or unused logic lingering in the code base from that functionality - I vaguely recall seeing unexpected code/comments when I've been working on other stuff.

I

[2016-09-06 20:07] Voles commented on #298
Fixed with #648 and available since v2.15.0

[2016-09-06 20:07] #298 closed

[2016-09-07 14:25] carolinagc commented on #791
Hi @jacobscarter ,
I don't see this code mentioned in the current version.
There was a fix in
https://github.com/angular-ui-tree/angular-ui-tree/pull/738/files#r60955690

with code:

[code]
but in the current release doesn't appear, not in
https://github.com/angular-ui-tree/angular-ui-tree/blob/master/source/services/helper.js

neither in

https://github.com/angular-ui-tree/angular-ui-tree/blob/ma

[2016-09-08 00:43] Tibfib opened #813 "Regression in moving items horizontally (up/down in depth) with v2.18.0"
I can't get any items to move horizontally properly... However, when I download v2.17 and run it locally, I can move horizontally without a problem.

To replicate, just compare the example site from v2.18 with v2.17....

I'm using Chrome v53.

Thanks for the library!

[2016-09-08 03:28] jacobscarter commented on #813
Hi @Tibfib I cannot duplicate the issue, if I pull down the latest and run `gulp serve` all horizontal movement works as expected.

The only thing I can think of would be the roll back we did earlier, I will push a new version "2.19.0" which should take care of any problems with 2.18.0 referring to the "wrong" files.

Please pull down 2.19.0 and let me know if you are still experiencing the proble

[2016-09-08 03:32] Tibfib commented on #813
`2.19` works for me! The website also works again.

Thanks! As far as I'm concerned, this can be closed.

[2016-09-08 03:32] #813 closed

[2016-09-08 14:42] SuzannePoirierVS commented on #424
This is a huge problem for us and I can't find a viable workaround.  What have others done to successfully replace this?

[2016-09-08 16:45] jacobscarter commented on #424
@SuzannePoirierVS I am working on fixing this PR, hopefully we will have this performance PR merged in a couple of days.  I will post an update here shortly.

[2016-09-08 18:15] BlakeBrown commented on #424
Hey everyone, I thought I'd leave a few of my thoughts here since I worked on performance issues with this library at my last job.

tldr; If you plan on having more than 100 elements in your tree, Angular is not the tool for the job.

As many of you probably know, Angular uses dirty checking in order to determine which DOM elements need updating. Every node in your angular-ui-tree requires watcher

[2016-09-09 05:47] jacobscarter opened #815 "Repository Cleanup"
@Voles and @StefanCodes I would like to attempt to clean up the repo a little!

Can we delete all the branches (except master and gh-pages of course)? They all reference PRs that were merged or closed.

Can I get you guys to commit to get on a timeline for closing these 259 issues also? I think most of them will be easy to close because they will be years old, reference outdates problems, etc.

Le

[2016-09-09 13:57] Voles commented on #815
@jacobscarter I've removed the stale branches. We only have a `master` and `gh-pages` branch now.

In order to process the outstanding issues / PR's, we need some sort of process. The same idea as what we did with the CONTRIBUTING.md file.

What I suggest:
1. We add an issue template (see #816)
2. We close issues:
- older then 6 months and comment that the original author should recreate the issue

[2016-09-09 14:01] jacobscarter commented on #815
@voles Sounds good to me!

[2016-09-09 14:59] Voles commented on #236
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 14:59] #236 closed

[2016-09-09 14:59] Voles commented on #249
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 14:59] #249 closed

[2016-09-09 15:00] Voles commented on #251
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #251 closed

[2016-09-09 15:00] Voles commented on #259
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #259 closed

[2016-09-09 15:00] Voles commented on #264
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #264 closed

[2016-09-09 15:00] Voles commented on #265
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #265 closed

[2016-09-09 15:00] Voles commented on #267
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #267 closed

[2016-09-09 15:00] Voles commented on #268
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:00] #268 closed

[2016-09-09 15:01] Voles commented on #269
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:01] #269 closed

[2016-09-09 15:02] Voles commented on #270
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:02] #270 closed

[2016-09-09 15:02] #271 closed

[2016-09-09 15:03] Voles commented on #274
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:03] Voles commented on #275
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:03] #275 closed

[2016-09-09 15:03] Voles commented on #276
#589 has been merged

[2016-09-09 15:03] #276 closed

[2016-09-09 15:03] Voles commented on #277
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:03] #277 closed

[2016-09-09 15:04] Voles commented on #282
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:04] #282 closed

[2016-09-09 15:04] Voles commented on #286
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:04] #286 closed

[2016-09-09 15:04] Voles commented on #288
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-09 15:04] #288 closed

[2016-09-09 18:07] HarelM commented on #274
This is still not supported, closing this issue is kinda cheating...
I needed to write code of my own to support RTL, ended up not using this library unfortunately...

[2016-09-09 18:47] Voles commented on #274
@harelm can you help us adding RTL support? Or mayby point us in the right direction?

[2016-09-10 03:24] HarelM commented on #274
Unfortunately I don't have the time to invest in it right now but the concept is fairly simple:
instead of everything being left aligned it should be right aligned (mirrored):
In this case for example the root of the tree should be at the right most possible position and every child should be a bit to the left of it.
You should instruct the developer who uses this library to do a few simple things

[2016-09-10 12:06] peio72 opened #820 "Move nodes buttons"
Hello,

I would like to add buttons for nodes in order to be able to move them upper or deeper in the tree hierarchy like dragging horizontally. (left button to come back at same level as its parent and right button to become child of the next node)

Which angular functions could i use to achieve that for both buttons ?

Thanx.

[2016-09-11 06:51] jacobscarter commented on #289
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:51] #289 closed

[2016-09-11 06:52] jacobscarter commented on #291
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:52] #291 closed

[2016-09-11 06:52] jacobscarter commented on #293
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:52] #293 closed

[2016-09-11 06:53] jacobscarter commented on #296
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:53] #296 closed

[2016-09-11 06:55] jacobscarter commented on #297
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:55] #297 closed

[2016-09-11 06:55] jacobscarter commented on #301
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:55] #301 closed

[2016-09-11 06:57] jacobscarter commented on #303
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:57] #303 closed

[2016-09-11 06:57] jacobscarter commented on #304
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:57] #304 closed

[2016-09-11 06:58] jacobscarter commented on #305
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

Also Windows no longer supports IE8

[2016-09-11 06:58] #305 closed

[2016-09-11 06:59] jacobscarter commented on #307
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:59] #307 closed

[2016-09-11 06:59] jacobscarter commented on #308
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 06:59] #308 closed

[2016-09-11 07:00] jacobscarter commented on #312
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:00] #312 closed

[2016-09-11 07:00] jacobscarter commented on #313
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:00] #313 closed

[2016-09-11 07:00] jacobscarter commented on #316
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:00] #316 closed

[2016-09-11 07:02] jacobscarter commented on #317
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:02] #317 closed

[2016-09-11 07:02] jacobscarter commented on #318
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:02] #318 closed

[2016-09-11 07:03] jacobscarter commented on #320
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:03] #320 closed

[2016-09-11 07:03] jacobscarter commented on #326
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:03] #326 closed

[2016-09-11 07:03] jacobscarter commented on #328
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:03] #328 closed

[2016-09-11 07:04] jacobscarter commented on #333
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:04] #333 closed

[2016-09-11 07:04] jacobscarter commented on #342
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:04] #342 closed

[2016-09-11 07:04] jacobscarter commented on #348
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:04] #348 closed

[2016-09-11 07:05] jacobscarter commented on #349
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:05] #349 closed

[2016-09-11 07:06] jacobscarter commented on #353
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:06] #353 closed

[2016-09-11 07:06] jacobscarter commented on #354
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:06] #354 closed

[2016-09-11 07:10] jacobscarter commented on #245
The question here is whether we want to require the children [] to exist for dropping.  If we require it then this can be closed, otherwise we need a work around.  Any thoughts from anyone?

[2016-09-11 07:11] jacobscarter commented on #362
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:11] #362 closed

[2016-09-11 07:11] jacobscarter commented on #363
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:11] #363 closed

[2016-09-11 07:12] jacobscarter commented on #369
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:12] #369 closed

[2016-09-11 07:13] jacobscarter commented on #370
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:13] #370 closed

[2016-09-11 07:13] jacobscarter commented on #371
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:13] #371 closed

[2016-09-11 07:14] jacobscarter commented on #372
This should be working in latest release of angular-ui-tree

[2016-09-11 07:14] #372 closed

[2016-09-11 07:14] jacobscarter commented on #373
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:14] #373 closed

[2016-09-11 07:15] jacobscarter commented on #375
data-clone-enabled takes care of this

[2016-09-11 07:15] #375 closed

[2016-09-11 07:15] jacobscarter commented on #376
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:15] #376 closed

[2016-09-11 07:16] jacobscarter commented on #377
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:16] #377 closed

[2016-09-11 07:16] jacobscarter commented on #385
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:16] #385 closed

[2016-09-11 07:16] jacobscarter commented on #389
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:16] #389 closed

[2016-09-11 07:16] jacobscarter commented on #392
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:16] #392 closed

[2016-09-11 07:17] jacobscarter commented on #397
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:17] #397 closed

[2016-09-11 07:18] jacobscarter commented on #398
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:18] #398 closed

[2016-09-11 07:18] jacobscarter commented on #400
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:18] #400 closed

[2016-09-11 07:18] jacobscarter commented on #401
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:18] #401 closed

[2016-09-11 07:19] jacobscarter commented on #402
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:19] #402 closed

[2016-09-11 07:19] jacobscarter commented on #404
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:19] #404 closed

[2016-09-11 07:19] jacobscarter commented on #405
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:19] #405 closed

[2016-09-11 07:20] jacobscarter commented on #406
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:20] #406 closed

[2016-09-11 07:20] jacobscarter commented on #407
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:20] #407 closed

[2016-09-11 07:21] jacobscarter commented on #408
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:21] #408 closed

[2016-09-11 07:22] jacobscarter commented on #409
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:22] #409 closed

[2016-09-11 07:22] jacobscarter commented on #413
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:22] #413 closed

[2016-09-11 07:22] jacobscarter commented on #414
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:22] #414 closed

[2016-09-11 07:22] jacobscarter commented on #415
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:22] #415 closed

[2016-09-11 07:23] jacobscarter commented on #416
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:23] #416 closed

[2016-09-11 07:23] jacobscarter commented on #417
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:23] #417 closed

[2016-09-11 07:23] jacobscarter commented on #419
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:23] #419 closed

[2016-09-11 07:23] jacobscarter commented on #428
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:23] #428 closed

[2016-09-11 07:25] jacobscarter commented on #430
@Voles @StefanCodes and @jacobscarter are trying to re-address all existing issues, merge all PRs, and increase performance, the more help the merrier!  In my experience with open source the project go in spurts of productivity and then die out until someone else comes along who wants to kick things off again.  That being said we are in a spurt of productivity so lets take advantage of it and get

[2016-09-11 07:25] #430 closed

[2016-09-11 07:25] jacobscarter commented on #440
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:25] #440 closed

[2016-09-11 07:25] jacobscarter commented on #442
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:25] #442 closed

[2016-09-11 07:26] jacobscarter commented on #445
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:26] #445 closed

[2016-09-11 07:26] jacobscarter commented on #446
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:26] #446 closed

[2016-09-11 07:26] jacobscarter commented on #453
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:26] #453 closed

[2016-09-11 07:27] jacobscarter commented on #455
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:27] #455 closed

[2016-09-11 07:27] jacobscarter commented on #458
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

IE9 and IE10 are not longer supported by Microsoft as well.

[2016-09-11 07:27] #458 closed

[2016-09-11 07:28] jacobscarter commented on #459
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:28] #459 closed

[2016-09-11 07:28] jacobscarter commented on #461
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:28] #461 closed

[2016-09-11 07:28] jacobscarter commented on #462
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:28] #462 closed

[2016-09-11 07:28] jacobscarter commented on #463
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:28] #463 closed

[2016-09-11 07:29] jacobscarter commented on #466
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:29] #466 closed

[2016-09-11 07:29] jacobscarter commented on #467
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:29] #467 closed

[2016-09-11 07:29] jacobscarter commented on #469
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:29] #469 closed

[2016-09-11 07:29] jacobscarter commented on #472
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:29] #472 closed

[2016-09-11 07:30] jacobscarter commented on #475
Are there any volunteers to help with creating an Angular 2 version of this?

[2016-09-11 07:34] jacobscarter commented on #765
Linked to #475

Are there any volunteers to help with creating an Angular 2 version of this? I can start a repo with some ground work laid out. We can always do a lot of copy and paste I would prefer to re-write it to take advantage of performance increase with can achieve doing things with TypeScript and the "Angular 2 way"

@StefanCodes or @Voles if you make the repo under angular-ui-tree I can

[2016-09-11 07:35] jacobscarter commented on #476
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:35] #476 closed

[2016-09-11 07:35] jacobscarter commented on #477
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:35] #477 closed

[2016-09-11 07:36] jacobscarter commented on #478
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:36] #478 closed

[2016-09-11 07:36] jacobscarter commented on #482
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:36] #482 closed

[2016-09-11 07:36] jacobscarter commented on #483
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:36] #483 closed

[2016-09-11 07:37] jacobscarter commented on #484
Closing this ticket, it is a duplicate of #465 which is open and should be addressed shortly

[2016-09-11 07:37] #484 closed

[2016-09-11 07:39] jacobscarter commented on #487
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:39] #487 closed

[2016-09-11 07:39] jacobscarter commented on #489
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:39] #489 closed

[2016-09-11 07:40] jacobscarter commented on #490
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:40] #490 closed

[2016-09-11 07:40] jacobscarter commented on #491
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:40] #491 closed

[2016-09-11 07:40] jacobscarter commented on #492
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:40] #492 closed

[2016-09-11 07:45] jacobscarter commented on #160
Close when #493 #160 #718 and #471 are close and feature is added.

[2016-09-11 07:45] jacobscarter commented on #471
Close when #493 #160 #718 and #471 are close and feature is added.

[2016-09-11 07:45] jacobscarter commented on #718
Close when #493 #160 #718 and #471 are close and feature is added.

[2016-09-11 07:46] jacobscarter commented on #493
Appears this feature was added and not merged in, https://github.com/angular-ui-tree/angular-ui-tree/commit/432c73bf9a4db0a34d3e1b8a7ee846e5ce2bfc04

Unfortunately it seems like this happened a lot in this repos past.  I will make note to try and re-add this code soon

Close when #493 #160 #718 and #471 are close and feature is added.

[2016-09-11 07:47] jacobscarter commented on #494
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:47] #494 closed

[2016-09-11 07:48] jacobscarter commented on #495
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:48] #495 closed

[2016-09-11 07:48] jacobscarter commented on #496
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:48] #496 closed

[2016-09-11 07:48] jacobscarter commented on #497
This should be fixed with 2.19.0

[2016-09-11 07:48] #497 closed

[2016-09-11 07:49] jacobscarter commented on #499
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:49] #499 closed

[2016-09-11 07:49] jacobscarter commented on #502
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:49] #502 closed

[2016-09-11 07:50] jacobscarter commented on #504
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:50] #504 closed

[2016-09-11 07:50] jacobscarter commented on #505
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:50] #505 closed

[2016-09-11 07:50] jacobscarter commented on #507
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:50] #507 closed

[2016-09-11 07:50] jacobscarter commented on #513
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:50] #513 closed

[2016-09-11 07:51] jacobscarter commented on #514
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:51] #514 closed

[2016-09-11 07:51] jacobscarter commented on #515
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:51] #515 closed

[2016-09-11 07:51] jacobscarter commented on #516
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:51] #516 closed

[2016-09-11 07:52] jacobscarter commented on #518
Closing, duplicate and being discussed in #765 and #475

[2016-09-11 07:52] #518 closed

[2016-09-11 07:53] jacobscarter commented on #522
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:53] #522 closed

[2016-09-11 07:53] jacobscarter commented on #523
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:53] #523 closed

[2016-09-11 07:53] jacobscarter commented on #527
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:53] #527 closed

[2016-09-11 07:54] jacobscarter commented on #528
ahh this is where @StefanCodes got his push rights :)

Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:54] #528 closed

[2016-09-11 07:54] jacobscarter commented on #529
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:54] #529 closed

[2016-09-11 07:54] jacobscarter commented on #536
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:54] #536 closed

[2016-09-11 07:54] jacobscarter commented on #540
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:54] #540 closed

[2016-09-11 07:55] jacobscarter commented on #542
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #542 closed

[2016-09-11 07:55] jacobscarter commented on #543
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #543 closed

[2016-09-11 07:55] jacobscarter commented on #544
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #544 closed

[2016-09-11 07:55] jacobscarter commented on #545
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #545 closed

[2016-09-11 07:55] jacobscarter commented on #547
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #547 closed

[2016-09-11 07:55] jacobscarter commented on #548
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:55] #548 closed

[2016-09-11 07:56] jacobscarter commented on #549
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:56] #549 closed

[2016-09-11 07:56] jacobscarter commented on #560
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:56] #560 closed

[2016-09-11 07:56] jacobscarter commented on #561
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:56] #561 closed

[2016-09-11 07:58] jacobscarter commented on #562
I think I have a fix for this I will implement soon, horizontal movement is not recognized because it is checking to see if you are moving a node within its own tree to "un-nest" it.  I will add a bit that stops checking for that as soon as you leave the origin tree, so horizontal movement beyond that will be recognized as a node traveling.  Not sure if this makes sense but I'll have the fix soon

[2016-09-11 07:58] jacobscarter commented on #563
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:58] #563 closed

[2016-09-11 07:59] jacobscarter commented on #564
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:59] #564 closed

[2016-09-11 07:59] jacobscarter commented on #565
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:59] #565 closed

[2016-09-11 07:59] jacobscarter commented on #566
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:59] #566 closed

[2016-09-11 07:59] jacobscarter commented on #569
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 07:59] #569 closed

[2016-09-11 08:00] jacobscarter commented on #573
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:00] #573 closed

[2016-09-11 08:00] jacobscarter commented on #575
I'll update this on my next PR

[2016-09-11 08:00] #575 closed

[2016-09-11 08:01] jacobscarter commented on #576
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:01] #576 closed

[2016-09-11 08:07] #577 closed

[2016-09-11 08:07] jacobscarter commented on #578
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:07] #578 closed

[2016-09-11 08:07] jacobscarter commented on #583
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:07] #583 closed

[2016-09-11 08:07] jacobscarter commented on #584
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:07] #584 closed

[2016-09-11 08:08] #591 closed

[2016-09-11 08:08] jacobscarter commented on #595
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:08] #595 closed

[2016-09-11 08:08] jacobscarter commented on #599
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:08] #599 closed

[2016-09-11 08:09] jacobscarter commented on #600
closing because duplicate of #465

[2016-09-11 08:09] #600 closed

[2016-09-11 08:09] jacobscarter commented on #602
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:09] #602 closed

[2016-09-11 08:10] jacobscarter commented on #609
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:10] #609 closed

[2016-09-11 08:11] jacobscarter commented on #616
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:11] #616 closed

[2016-09-11 08:11] jacobscarter commented on #618
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:11] #618 closed

[2016-09-11 08:11] jacobscarter commented on #619
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:11] #619 closed

[2016-09-11 08:11] jacobscarter commented on #620
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:11] #620 closed

[2016-09-11 08:12] jacobscarter commented on #622
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:12] #622 closed

[2016-09-11 08:12] jacobscarter commented on #624
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:12] #624 closed

[2016-09-11 08:14] jacobscarter commented on #629
This is in 2.19.0

[2016-09-11 08:14] #629 closed

[2016-09-11 08:16] jacobscarter commented on #630
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:16] #630 closed

[2016-09-11 08:17] jacobscarter commented on #632
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:17] #632 closed

[2016-09-11 08:17] jacobscarter commented on #634
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:17] #634 closed

[2016-09-11 08:37] jacobscarter commented on #639
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:37] #639 closed

[2016-09-11 08:37] jacobscarter commented on #640
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 08:37] #640 closed

[2016-09-11 12:21] nicklasb commented on #375
@jacobscarter
Ok,maybe a dumb question, but doesn't setting that to false stop the cloning? So that it isn't being copied and ends up being moved instead? Because if it doesn't, it should be called something else?

[2016-09-11 14:46] nicklasb commented on #765
@jacobscarter Well, at least I am interested. Så please create such a repo.
I agree on rewriting. On the other hand, that should not take a huge effort, the solutions are there, so I suppose that would not be an insurmountable problem.

[2016-09-11 16:33] Voles opened #821 "v2.0.19"
@jacobscarter I see there's v2.0.19 but that version does not contain any code changes. See https://github.com/angular-ui-tree/angular-ui-tree/compare/v2.18.0...v2.19.0 for the diff.

Can we remove this tag / version?

[2016-09-11 16:42] jacobscarter commented on #375
Yes if clone is false it moves the node. If clone is true then it copies the node and doesn't move the original

[2016-09-11 17:52] jacobscarter commented on #821
@Voles this happened because 2.18 was released with regressions and breaks, @StefanCodes rolled the repo back to 2.17 but bower still had 2.18, releasing 2.18 didn't overwrite the bad version bower had, so 2.19 was released.  So while GitHub shows no code difference between the two versions, if you pull them down from bower you will see the differences.  Because everything is working fine as is I

[2016-09-11 17:52] #821 closed

[2016-09-11 17:54] jacobscarter commented on #645
This line change is in the latest release `$document.find('body').append(dragElm)`

[2016-09-11 17:54] #645 closed

[2016-09-11 17:55] jacobscarter commented on #672
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:55] #672 closed

[2016-09-11 17:55] jacobscarter commented on #674
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:55] #674 closed

[2016-09-11 17:56] jacobscarter commented on #676
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:56] #676 closed

[2016-09-11 17:56] jacobscarter commented on #686
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:56] #686 closed

[2016-09-11 17:56] jacobscarter commented on #688
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:56] #688 closed

[2016-09-11 17:57] jacobscarter commented on #693
expand on hover is now a feature in this project

[2016-09-11 17:57] #693 closed

[2016-09-11 17:57] jacobscarter commented on #694
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:57] #694 closed

[2016-09-11 17:58] jacobscarter commented on #695
PR is currently being reviewed for this fix and being tracked in issue #799

[2016-09-11 17:58] #695 closed

[2016-09-11 17:58] jacobscarter commented on #697
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:58] #697 closed

[2016-09-11 17:58] jacobscarter commented on #698
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:58] #698 closed

[2016-09-11 17:58] jacobscarter commented on #699
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:58] #699 closed

[2016-09-11 17:59] jacobscarter commented on #701
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:59] #701 closed

[2016-09-11 17:59] jacobscarter commented on #702
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 17:59] #702 closed

[2016-09-11 18:00] jacobscarter commented on #708
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:00] #708 closed

[2016-09-11 18:00] jacobscarter commented on #709
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:00] #709 closed

[2016-09-11 18:00] jacobscarter commented on #710
IE8 is no longer supported by Microsoft

Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:00] #710 closed

[2016-09-11 18:00] jacobscarter commented on #711
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:00] #711 closed

[2016-09-11 18:03] jacobscarter commented on #712
Will close when PR #716 is merged

[2016-09-11 18:03] jacobscarter commented on #713
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:03] #713 closed

[2016-09-11 18:03] jacobscarter commented on #714
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:03] #714 closed

[2016-09-11 18:03] jacobscarter commented on #715
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:03] #715 closed

[2016-09-11 18:04] jacobscarter commented on #719
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:04] #719 closed

[2016-09-11 18:04] jacobscarter commented on #720
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:04] #720 closed

[2016-09-11 18:04] jacobscarter commented on #722
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:04] #722 closed

[2016-09-11 18:05] jacobscarter commented on #724
Closing because @Purewebdesign appears to have provided a solution, please re-open if this is still a problem

[2016-09-11 18:05] #724 closed

[2016-09-11 18:06] jacobscarter commented on #726
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:06] #726 closed

[2016-09-11 18:07] jacobscarter commented on #728
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:07] #728 closed

[2016-09-11 18:07] jacobscarter commented on #730
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:07] #730 closed

[2016-09-11 18:08] jacobscarter commented on #731
Closing because duplicate of #395

[2016-09-11 18:08] #731 closed

[2016-09-11 18:08] jacobscarter commented on #733
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:08] #733 closed

[2016-09-11 18:09] jacobscarter commented on #734
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:09] #734 closed

[2016-09-11 18:09] jacobscarter commented on #735
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:09] #735 closed

[2016-09-11 18:09] jacobscarter commented on #736
Closing this issue due to inactivity. See #815 for more information.
Please create a new issue is this still occurs with the current version of the component.

[2016-09-11 18:09] #736 closed

[2016-09-11 18:11] jacobscarter commented on #744
@cavarzan your PR is failing checks, can you fix it?

[2016-09-11 18:13] jacobscarter commented on #746
This should be fixed because instead of rootElement.append we are now finding body element and appending.

[2016-09-11 18:13] #746 closed

[2016-09-11 18:14] jacobscarter commented on #750
Looks like the solution is provided by @Purewebdesign

[2016-09-11 18:14] #750 closed

[2016-09-11 18:15] jacobscarter commented on #753
Closing for lack of detail and because your questions seems to be about personal preference on UI/UX not a question about angular-ui-tree functionality

[2016-09-11 18:15] #753 closed

[2016-09-11 18:16] jacobscarter commented on #761
Will close this because your question is unclear, please re-open the ticket with more detail if this is still a problem in the latest release.

[2016-09-11 18:16] #761 closed

[2016-09-11 18:18] #767 closed

[2016-09-11 18:19] jacobscarter commented on #768
expandOnHover is in the most current release.

[2016-09-11 18:19] #768 closed

[2016-09-11 18:20] jacobscarter commented on #770
Close when #493 #160 #718 #471 and #770 are closed and feature is added.

[2016-09-11 18:23] #773 closed

[2016-09-11 18:25] jacobscarter commented on #781
Please ask questions about "How To" on our Gitter channel

https://gitter.im/angular-ui-tree/angular-ui-tree

[2016-09-11 18:25] #781 closed

[2016-09-11 18:27] jacobscarter commented on #788
Can you expand on this, I'm not sure I fully understand your question/comment

[2016-09-11 18:28] jacobscarter commented on #791
Roger that, I don't see it in there either, we will get #738 reviewed and merged in ASAP

[2016-09-11 18:29] jacobscarter commented on #793
PR was merged, closing ticket

[2016-09-11 18:29] #793 closed

[2016-09-11 18:29] #794 closed

[2016-09-11 18:29] jacobscarter commented on #796
This is a duplicate of 5 other tickets we have open, I will close this ticket since the enhancement is being tracked via the other tickets

[2016-09-11 18:31] jacobscarter commented on #801
Please refer all questions of this nature to our Gitter channel

https://gitter.im/angular-ui-tree/angular-ui-tree

[2016-09-11 18:31] #801 closed

[2016-09-11 18:32] jacobscarter commented on #802
I will close this, please re-open if it is still an issue or you have further questions

[2016-09-11 18:32] #802 closed

[2016-09-11 18:32] jacobscarter commented on #809
@Voles can we close this now that your docs were merged in?

[2016-09-11 18:33] jacobscarter commented on #815
Closing this, we are all caught up on closing issues that meet your criteria above.  From 300 to 60 :/  hopefully we can get all these PRs and Issues handled over the next couple of months!

[2016-09-11 18:33] #815 closed

[2016-09-11 18:36] jacobscarter commented on #274
Check PR #669 and close PR #338 which was merged but code lost and didnt make it into release.

[2016-09-11 18:55] Voles commented on #821
@jacobscarter perfect, thanks for your clarification. I'll take a look at the outstanding PR's.

[2016-09-11 18:55] jacobscarter commented on #821
@Voles you're the man! Thank you.

[2016-09-11 19:16] Voles commented on #799
#807 has been merged.

[2016-09-11 19:16] #799 closed

[2016-09-11 19:21] #809 closed

[2016-09-11 20:26] Voles commented on #274
@ashraffayad @goldylucks @HarelM @hopewise I've re-created a PR which adds support for RTL, see #822. As I have no experience with RTL, it would be super useful if any of you could confirm this works as expected. Thanks in advance.

[2016-09-11 22:03] goldylucks commented on #274
I've abandoned angular for [react](https://facebook.github.io/react/)

@Voles if u have a ui tree based on react I'll submit a PR there :)

[2016-09-11 22:39] HarelM commented on #274
@Voles Don't mind doing a little check, is there a place I can play around with it? fiddler of some sort?

[2016-09-12 05:24] Exlord commented on #274
this is the only css i needed to make the RTL work for me:

[code]

Indenting on Drag&Drop still need RTL support as well. Indents should be created when dragging to left instead of right.

[2016-09-12 06:55] Voles commented on #644
This should be fixed with #814 which has been merged just now

[2016-09-12 16:23] jacobscarter commented on #644
Available in 2.21.1

[2016-09-12 16:23] #644 closed

[2016-09-12 16:24] jacobscarter commented on #49
Available in v2.21.1

[2016-09-12 16:24] jacobscarter commented on #158
Available in v2.21.1

[2016-09-12 16:24] jacobscarter commented on #544
Available in v2.21.1

[2016-09-12 18:01] jacobscarter commented on #562
The fix I implemented here now uses tree IDs to determine if you are re-adjusting nestings rather than pixel measurements on the screen.

[2016-09-12 18:12] jacobscarter commented on #562
PR [#824](https://github.com/angular-ui-tree/angular-ui-tree/pull/824)

[2016-09-13 09:47] carolinagc commented on #358
I'm also running with similar problems, the place holder does position correctly with the cursor.
It does not allow to nest inside another node or it doesnt allow to unnest and put in a higher level the node. Also is arbitrary when it happens and in which position of the tree.

[2016-09-13 11:02] Voles commented on #358
@derek-adair @carolinagc this issue is quite dated so I suggest we'll move further discussions about this issue to #777. Or are there any other issues pointed out here?

[2016-09-13 11:41] carolinagc commented on #358
@Voles ok, we can move the discussion to #777

[2016-09-13 12:10] #358 closed

[2016-09-13 19:50] StefanCodes commented on #765
I would be interested in this as well. My professional work is largely Angular2 now so it would make a lot more sense for me to focus on that aspect.

I'm also quite concerned about our performance issues in ui-tree with large (500+) item trees. I'm likely going to need a tree than can handle several thousand nodes and ng2 is probably better-suited to the task.

I've only barely glanced at how a f

[2016-09-13 20:18] Voles commented on #765
If someone is interested in taking the lead for the move to NG2, I'd like to help with the reviews, development process etc. I will probably be working with NG2 at the end of this year.

[2016-09-13 22:32] jacobscarter commented on #562
Fix available in v2.22.0

[2016-09-13 22:32] #562 closed

[2016-09-13 22:36] jacobscarter commented on #765
@Voles @StefanCodes I dont have enough privileges to create the angular2-ui-tree repo, can one of you create it please and I can commit the ground work for it.  While you're in there can you delete the other two repos that aren't used

[2016-09-14 12:20] Voles commented on #765
I've removed the deprecated website and bower repositories and created `angular2-ui-tree`.
See https://github.com/angular-ui-tree/angular2-ui-tree

@StefanCodes ng2Draggable looks like a nice start for the drag and drop logic / syntax!

@jacobscarter can you take the lead on the initial setup in a PR? I think it will be important to gather initial feedback from as many eyes as possible.

Let the f

[2016-09-14 12:20] #765 closed

[2016-09-14 15:29] jkvgo opened #826 "Drop to elements outside ui-tree"
Hi,

Is there a feature that allows angular ui tree to drop nodes to elements outside the ui-tree? Or at least determines what element the node is hovering on before drop? I'm currently working on a project where I need to drop ui-tree nodes to elements in the page which are outside ui-tree.

I'm using AngularJS v1.5.3

Thanks!

[2016-09-14 15:33] carolinagc commented on #777
Hey,
I wanted to ask you exactly how does the placeholder detect who is the parent, to try to have a better understanding of this issue and be able to debug properly. Thanks!

[2016-09-14 18:25] brianfeister commented on #424
Some very helpful advice @BlakeBrown. Today is one of those rare days that I'm glad I didn't mute a Github thread I chimed in on years ago.

I'm using lazy-loading for my childNodes to keep watcher count down, though my UI does allow end users to screw things up with an unlimited number of first-level children. I suppose some day I'll be implementing infinite scroll there when someone stupidly cre

[2016-09-15 14:59] peio72 opened #829 "Not working on mobile device anymore since 2.19.0"
Since 2.19.0, other updates I made on the angular-ui-tree broke the drag'n drop functionnality on mobile devices.

2.19.0 is the last working version with mobile devices.

[2016-09-15 15:48] Voles commented on #829
@peio72 can you give us some details about what exactly isn't working anymore?

[2016-09-16 15:57] peio72 commented on #829
The placeholders are keeping highlighted all long the move (making a fixed trail) you makes and the drop fails freezing all the nodes.

[2016-09-16 19:53] zainulabidin302 opened #830 "Can't expand node once dragged"
https://angular-ui-tree.github.io/angular-ui-tree/#/basic-example

Can't expand the node once dragged.
To reproduce the issue please check the behavior in the above link example.
1. Try to drag a node.
2. Now then try to expand.

   You will not be able to do it. It will go to drag state. This problem is with newer versions > 2 . previous versions works good.

Thanks

[2016-09-16 22:25] rlintern opened #831 "drag and drop broken (within tree)"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Cannot move nodes around in the tree in the latest build (2.22.0).  Our application and   https://angular-ui-tr

[2016-09-19 13:13] egtavares opened #832 "Possible bug on reordering?"
I cannot make a list that can be reordered with dragging and dropping within it.
Te example at  http://angular-ui-tree.github.io/angular-ui-tree/#/table-example doesn't seem to work too. I tried using Chrome, Firefox, IE and MS Edge and was not able to reorder that online example. Is this a bug?

[2016-09-19 18:36] rlintern commented on #830
we are experiencing same issue (in #basic-example and in our own integration)

[2016-09-19 19:20] egtavares commented on #832
Searching the web, I stumbled upon a tip to use version 2.16.0 (I was using 2.20) for another issue. I installed version 2.16.0 and my code now works correctly. So it really seems to be a bug

[2016-09-19 20:08] jacobscarter commented on #832
Note: Appears to be a problem with the recognition of *vertical* movement

[2016-09-20 02:08] riyunoa commented on #831
I have the same issue as of updating to 2.22.0. I'm also using 2.21.3, it works.

[2016-09-20 02:16] jacobscarter commented on #831
@riyunoa that makes it easier thanks. So 2.21.3 is working and 2.22.0 breaks?

[2016-09-20 04:58] jacobscarter commented on #832
Duplicate of #831 please follow progress there.

[2016-09-20 04:58] #832 closed

[2016-09-20 05:56] jacobscarter commented on #831
@Voles @StefanCodes this is the change I made that caused the break above, this change is what fixed the issue where you couldn't drag horizontally from one tree to another, I am hoping we don't have to roll back the change, I am looking into it but another pair of eyes would be nice, let me know if you see the problem.

https://github.com/angular-ui-tree/angular-ui-tree/commit/d3796367fcbdbf7270b

[2016-09-20 06:54] jacobscarter commented on #831
Fixed with PR #834

[2016-09-20 19:07] rlintern commented on #830
This seems to happen when you don't actually end up moving the item in the tree. That is, you temporarily drag it very slightly but make sure it goes back into the same spot.  A simple left-click on a tree node will trigger the same thing (that is, temporary drag into same spot).  Things seem to work fine if you drag a node to new spot in the tree.  Hope that helps to diagnose.
Also be aware that

[2016-09-20 19:23] rlintern commented on #830
Release 2.19.0 does not have this issue.  Releases 2.20.0+ do.

[2016-09-20 19:30] jacobscarter commented on #830
Thank you that is helpful, I will start looking into this.

[2016-09-21 05:41] jacobscarter commented on #831
Fixed in version 2.22.1

[2016-09-21 05:41] #831 closed

[2016-09-21 15:42] codephreek opened #836 "Uncaught Error in dragEnd when moving nodes in a "deep" tree structure."
**Bug**

Uncaught Error in dragEnd when moving nodes in a "deep" tree structure.

Using the basic example here to replicate issue (http://angular-ui-tree.github.io/angular-ui-tree/#/basic-example)

1) Add at least 13 sub nodes to Node 1 by clicking "+"
2) Move node 1.15 under 1.14
3) Move node 1.14 under 1.13
4) Repeat 1.13 under 1.12, 1.12 under 1.11 ... while monitoring console output in a debug

[2016-09-22 15:46] dturing commented on #798
i suspect this might be #763.
@DanieleRatti is your drop maybe on a child of ui-tree-node, which itself doesnt fit the check  in [uiTreeNode.js#L444](https://github.com/angular-ui-tree/angular-ui-tree/blob/master/source/directives/uiTreeNode.js#L444)?

[2016-09-22 15:50] dturing commented on #763
+1; i also have a child within my ui-tree-node and dropping becomes a game of chance, wether you're hitting that child or not.

@davechisholm's suggestion of adding elementIsTreeNodeChild works perfectly for me.

[2016-09-23 03:20] tinybright commented on #831
It hasn't been fixed in v2.22.1.
if you drag a handle and release it,it will keep in draging status.

[2016-09-23 03:22] tinybright commented on #830
Release 2.22.1 have this issue.

[2016-09-23 03:30] jacobscarter commented on #831
@tinybright I cannot reproduce this:

Which versions of Angular and which browser / OS are you using?

[2016-09-23 03:31] jacobscarter commented on #830
@tinybright release 2.22.1 was not supposed to fix this, it is still an open bug ticket. I am working on it and will let you know when I have an update.

[2016-09-23 03:33] tinybright commented on #831
@jacobscarter  Angular 1.5.6. Chrome 50.0.2661.102 m

[2016-09-23 03:52] tinybright commented on #831
@jacobscarter I made a mistake.My problem is same as issue 830.Not this one.

[2016-09-23 17:15] FernandoMueller opened #837 "Expand-on-hover event not calling this the toggle callback function"
the node is expanded but does not show the children.

[2016-09-24 09:52] sylouuu opened #838 "Directive conflict with Angular Material"
Hello,

I'm new here and I wanted to use this plugin to provide sorting in my Angular Material table.

My current code looks like this:

[code]

I've installed the plugin and started tu update my markup like your "Table example" in the demo page like:

[code]

When I try it I get [this error](https://docs.angularjs.org/error/$compile/multidir?p0=mdTable&p1=%20(module:%20md.data.table)&p2=uiTree&p3

[2016-09-25 21:06] jhartikainen commented on #302
I ran into this and it caused problems because the tree list jumped every time we updated the elements... this might sound like a fairly minor issue, but it was very annoying for the user :)

I wrote a workaround for it - it isn't universal, and you need to build it specific to your app, but I figured I'd post the details here in case it might help someone.

Basically the workaround is to generate

[2016-09-26 02:04] tinybright opened #839 "data-expand-on-hover seems no use."
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
data-expand-on-hover seems no use.

**What is the expected behavior?**
the node to expand (if it contains child nodes and was collapsed) when dragging a node over it

[2016-09-28 12:27] DominikPalo commented on #830
Also all elements with the attrribute `data-nodrag` are not clickable after ndoe was dragged.

[2016-09-28 13:06] krloscosta34 commented on #837
I also have this problem!!!!

I work with lazy nodes, so I need the toggle callback to load the children.
I think this is a simple modification, just call the callback, but it's very important :p

@jacobscarter and @Voles , can you do this modification?

[2016-09-29 11:15] BharatGK opened #840 "How to open popup"
Hello all,

As soon as i drop my source to destination, i want to open pop up box or may be alert box then how i can do that, where to call alert or popup box function.

Please put  your suggetion.

Thanks!

[2016-09-29 15:46] StefanCodes commented on #840
It sounds like this demo does what you're asking: http://angular-ui-tree.github.io/angular-ui-tree/#/drop-confirmation.
Please reopen this issue or ask in chat if this doesn't solve your problem.

[2016-09-29 15:46] #840 closed

[2016-09-30 13:37] m1llen1um commented on #836
Example:
[![https://gyazo.com/d0be8d62d421b1f2ceee0015722a4b7e](https://i.gyazo.com/d0be8d62d421b1f2ceee0015722a4b7e.gif)](https://gyazo.com/d0be8d62d421b1f2ceee0015722a4b7e)

[2016-09-30 13:41] Voles commented on #836
This is probably due to limitations of Angular (prevent infinite loops). We'll need to look into this.

[2016-10-03 11:22] m1llen1um commented on #836
I have a solution. Please check my pull request #841

you can see here the result:
[![https://gyazo.com/64fe366247ed85a3c3196ccdfa3c3d92](https://i.gyazo.com/64fe366247ed85a3c3196ccdfa3c3d92.gif)](https://gyazo.com/64fe366247ed85a3c3196ccdfa3c3d92)

[2016-10-03 21:54] sylouuu commented on #838
Any advice @rintaun ?

[2016-10-03 21:59] codephreek commented on #836
@m1llen1um  This seems to have improved the depth of the tree, however I am still able to reproduce the error with 20+ levels.

[2016-10-04 06:37] BharatGK opened #842 "How to open popup on success of drop"
Hello all,

How i can open model pop-up on success of drop from source to destination.
Now, drop confirmation shows model as soon as click on it, i want to open model on success of drop from source to destination.

Put your suggestion and keep building
thanks.!

[2016-10-04 08:06] m1llen1um commented on #836
@codephreek I'm sorry but I can't reproduce your case. Can you provide me more detailed example? _jsbin.com_ example will be great, since my PR is still under review.

[2016-10-04 16:09] codephreek commented on #836
@m1llen1um I apologize, my fault entirely!  I did not update/apply the solution properly.  The solution works magnificently.

[2016-10-05 18:30] dclarke83 opened #844 "Prevent root node from being draggable, but allow draggable children"
I had this issue and it was suggested on Gitter that I share how I worked around this.

![image](https://cloud.githubusercontent.com/assets/18419752/19125988/0d843026-8b31-11e6-9f30-d5a41cfd897b.png)

The easiest thing to do would be to just not show the root node if I don't want people to drag it - but then I would not be able to add children to it via the same UI as I have for other child nodes

[2016-10-05 18:30] #844 closed

[2016-10-05 20:51] vtmoren opened #845 "Node sort works in tree view using filter but underlying model not sorted"
I want to use a orderBy filter to order my nodes:
[code]
In the view the nodes are sorted but the ng-model seems to be in the same order (so the setSelectedStatistic(this) method does not return the correct node...any ideas? I thought the filter would affect the model as well?

[2016-10-06 09:19] m1llen1um commented on #830
git bisect _says_

[code]

[2016-10-06 10:03] chrislandeza commented on #764
Any updates to this?

[2016-10-06 10:23] m1llen1um commented on #830
This should be a fix - #846. I hope my PRs to be reviewed in the nearest future.

[2016-10-07 23:26] ErosBusTravel commented on #830
A temporal fix is add a delay to ui-tree

"data-drag-delay"

that worked for me.

[2016-10-10 03:10] RamonDonnell commented on #424
Any movement here this has just become critical for the project I'm working on.

[2016-10-10 06:02] BharatGK opened #848 "Drop source to empty area"
Hiii,

  May i know the demo page example running with which version.
I want to drop node on empty placeholder, so...

Thanks!

[2016-10-10 06:13] #848 closed

[2016-10-10 09:12] aerypton commented on #177
+1

[2016-10-10 12:32] BharatGK opened #849 "Get popup whenever i add new node in list"
Hello all,

How i can get to know that whenever i add new node i want some popup box or may be some message.
thanks.!

[2016-10-10 17:18] jacobscarter commented on #849
Look at the callbacks in the README.md file, you can use things like the [dropped event](https://github.com/angular-ui-tree/angular-ui-tree#droppedevent)

[2016-10-10 17:18] #849 closed

[2016-10-10 17:21] jacobscarter commented on #845
The solution to this is to not sort in the view, sort using a method in your controller. e.g.

[code]

[2016-10-10 17:21] #845 closed

[2016-10-10 17:23] jacobscarter commented on #842
See answer to your previous question regarding [callback events](https://github.com/angular-ui-tree/angular-ui-tree#droppedevent).

[2016-10-10 17:23] #842 closed

[2016-10-10 17:25] jacobscarter commented on #838
This is caused because both ui-tree and ng-material want isolated scope and you cannot have two directives asking for isolated scope on the same element.  The only solution to this would be for one of those two directives to no longer require isolated scope. Unfortunately there is not a quick fix for that.

[2016-10-10 17:25] jacobscarter commented on #838
I will leave this open to see if @Voles or @StefanCodes thinks we should attempt to re-write ui-tree to not use isolated scope, I vote against it, at least in the near future, what are your two's thoughts?

[2016-10-11 00:36] rintaun commented on #838
I'm not sure why I was tagged in this, but whatever.

This issue should be closed. It isn't really feasible to to rewrite ui-tree to not use isolate scope. On the other hand, after briefly looking into it, the md-data-table module (I assume you're using [daniel-nagy/md-data-table](https://github.com/daniel-nagy/md-data-table) -- correct me if I'm wrong) doesn't seem to actually be _using_ the isol

[2016-10-11 01:30] #838 closed

[2016-10-11 08:51] sylouuu commented on #838
Thanks for your answers. I just removed md-table and it works well.

I noticed something, if you put `<button ui-tree-handle>` the drag doesn't work.
I had to wrap the button with `<div ui-tree-handle>`.

Bests

[2016-10-11 09:02] sylouuu opened #850 "Specify what property is displayed while a node is dragged"
Hello,

Sorry about this title.

I've performed my searches but didn't find in README and live demos.

Go to http://angular-ui-tree.github.io/angular-ui-tree/#/table-example and drag a node without dropping it.

You will see "node x (remove button)". Is that possible to specify what to show there, like the title only "node x" or any object property?

Bests

[2016-10-12 19:15] vtmoren commented on #845
Agreed.  I ended up filtering the object beforehand and the issue was fixed.  Thanks.

[2016-10-18 17:27] ivanhuay commented on #850
+1 :cry:

[2016-10-18 22:10] claritybizsol opened #853 "Expand does not work after item is moved"
_Note_: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**
When trying the demo on the angular-ui-tree home page, after a node is moved it cannot be expanded. For example, af

[2016-10-20 09:03] Manveroo commented on #839
Hi tinybright

Did you use a version >= 2.18?
The feature was implemented there.
See [changelog](https://github.com/angular-ui-tree/angular-ui-tree/blob/master/CHANGELOG.md#2180)

Kind regards

[2016-10-20 09:04] #839 closed

[2016-10-20 09:06] Manveroo commented on #839
Thanks btw. I wondered myself why it was not working :-)

[2016-10-24 07:07] Stolle95 opened #855 "Cannot read property 'undefined' of null"
Hello, I'm getting an error when executing AngularJS UI Tree. This is supposed to be a one (1) node everything works and looks fine but the error

[code]

The code for my node is:
[code]

Can anyone understand why the error appears?

cheers Filip

[2016-10-26 14:01] konstantinkrassmann commented on #844
Hi, Thank you for the tip here.

I tried that out, but it doesnt seem to work with my script:

[code]

[2016-10-26 14:02] konstantinkrassmann commented on #844
👍  Thank you, that was really helpful!

[2016-10-27 09:43] Nanakii commented on #853
Can confirm.

Second example, in the basic example on the demo page, just click to move the "node 1.1" but don't move it at all, the bug appears also. Moreover, actions buttons don't work neither after that.

[2016-11-01 07:04] IChocolateKapa opened #860 "webpage freeze when there are too many nodes!!"
*bug*

when I request a node's children nodes, if there are many, like over 2000,  the webpage just frozen,  and it would last a very long time....... OMG, how can I solve this problem?

[2016-11-01 17:32] StefanCodes commented on #860
This is a known performance issue tracked in https://github.com/angular-ui-tree/angular-ui-tree/issues/424

The short answer is that the fundamental way Angular 1 handles watches is a severe problem with the way angular-ui-tree manages node state. As this point no one has come forward with a solution to make this control scalable to hundreds of nodes.

[2016-11-01 17:32] #860 closed

[2016-11-03 08:26] joostblok commented on #740
Maybe this is what you are looking for?
[Plunker](http://plnkr.co/edit/HEzKzMcOEOGGzuMfI2rr?p=preview)
It is a search screen that can "deep search items" you just need to install the angular "angular-ui-tree-filter" module into your app.

[2016-11-04 09:41] bilalmallick commented on #635
Quite late on this but it may help someone else .You can get tree root node by this:

`angular.element($('#tree-root')).scope() `

[2016-11-04 09:56] bilalmallick commented on #853
Move `ui-tree-handle` from the wrapping `<div>` to another element that doesn't wrap your controls (expand, add subitem etc.).

[code]

[2016-11-05 14:11] ladmerc commented on #185
+1. Same issue using uib-typeahead.

Disabling batarang works, but that's not ideal

[2016-11-06 10:22] bostondevin commented on #853
Thanks bilalmallick - that worked for me! - Maybe something with the floated buttons is screwing with the keypress, anyway it'd be good to update the doc - great component so far...

[2016-11-07 12:03] bostondevin commented on #272
Solved my issue!

[2016-11-09 00:46] 3du4 commented on #855
Having same issue. @Stolle95 were you able to fix it?

[2016-11-09 06:31] 3du4 commented on #258
having same issue.

[2016-11-09 07:58] 3du4 commented on #126
@JimLiu I have something like this

`<div ng-controller="treeCtrl">
    <div ui-tree>
          <ol ui-tree-nodes ng-model="row.columns">
            <li ng-repeat="column in row.columns" ui-tree-node>
              <my-directive></my-directive>
        </li>
      </ol>
    </div>
</div>`

Now inside my directive I have something like this

`<div ui-tree-handle>
       {{column.name}}
   </div>`

[2016-11-10 13:46] joostblok commented on #126
@3du4 Idk if this is it but @JimLiu said that if you have multiple ui-tree attributes nested it would give this error. It might do the same for the ui-tree-handle (although im not sure of this).

[2016-11-11 08:53] 3du4 commented on #126
@joostblok
It was happening because for my project I am using ui-tree in a modal screen which the user adds new elements. After adding the the first element, ui-tree was not yet instantiated. It instantiates after the 2nd element is added, that is why I was getting that error.

Solved it by sharing parent's scope. Then inside the child directive created a method to check if uiTree was nil or not a

[2016-11-11 13:02] BharatGK opened #863 "Stop blink while dropping node from source to destination"
Hello all,
Is it possible to stop blink(make sure to drop first node if tree is empty).
Now what happening is like on move, sometimes placeholder disappear and sometimes placeholder remains as it is and element get not dropped.

If destination tree is empty then dropping tree node must be dropped withing box and not out of box. How we can achieve?

[2016-11-15 07:55] smart-dream opened #867 "sometimes,when i drag the node,it cannot read property '$$phase' of null."
sometimes,when i drag the node ,it will be error.Especially when you drag from a subset to a parent.
TypeError: [Error] Cannot read property '$$phase' of null.

Hope you help me to see,thanks!

[2016-11-28 15:34] imccoy commented on #867
I was seeing an issue like this that was caused by an ng-if on my ui-tree-nodes element. Either using an ng-hide instead or moving the ng-if to the ui-tree-node-element resolved the issue for me.

[2016-11-29 10:19] pankaj805 opened #868 "Make filter work properly for child nodes"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Filter not working for child nodes

**If the current behavior is a bug, please provide the steps to reproduce

[2016-11-29 10:19] pankaj805 commented on #868
Please suggest a fix or a workaround for me 👍

[2016-11-30 17:52] ravindra01 commented on #462
We are also facing similar issue. first we applying filter then when dragging element then getting incorrect index.

[2016-12-02 12:55] pankaj805 commented on #868
For my current purpose, this worked out for me even though it is not that efficient

 $scope.visible = function (item) {

        var returnValue=false;
        if(!$scope.query){
          return true;
        }else if($scope.query.length >0){
            if(item.email.indexOf($scope.query) == -1){
              if(item.nodes && item.nodes.length > 0){
                  for(var i=0; i < item.node

[2016-12-06 16:27] v1r0x commented on #424
Is there still any progress? The `ng-if="!collapsed"` fixed the inital loading problem for me, but I'm currently working on a search function which should expand the selected (from the search results) item in the tree. The problem is, that the children are not loaded because of `ng-if`and `elem.childNodes()` is `null`. I get the inital tree with `var tree = angular.element(document.getElementById(

[2016-12-14 15:07] StephenStrickland commented on #868
Even on the demo page for this project, when filtering nodes, you cannot filter by child node labels.

[2016-12-19 16:02] rribou commented on #763
Same problem here, but davechisholm's solution seems to fix it.

[2016-12-20 22:19] Voles commented on #763
#856 should fix this. Released in v2.22.2

[2016-12-20 22:19] #763 closed

[2016-12-20 22:20] Voles commented on #798
#856 removed the outOfBounds variable and has been merged. See the latest release, v2.22.2

[2016-12-20 22:20] #798 closed

[2016-12-20 22:21] Voles commented on #764
#856 removed the outOfBounds variable and has been merged. See the latest release, v2.22.2

[2016-12-20 22:21] #764 closed

[2017-01-04 14:51] srobledo commented on #829
@peio72 @Voles same thing here.

[2017-01-05 02:01] tblanche opened #879 "Drag leave event"
Add an event to be called when dragMove doesn't have a target element (when it will be put back in the original position when let go)  I have an action that needs to fire when there is no target element.

[2017-01-06 19:24] okezieokpara opened #880 "Fails to exit drag mode"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

An a node is partially dragged (just clicked), but not moved.
The node seems to still be in drag mode and cannot be deleted or allow child node creat

[2017-01-06 19:36] wjrivera opened #881 "Adding labels to the trees"
**Do you want to request a *feature* or report a *bug*?**
Is there a way to have labels on the tree?

Included is a picture of what I'm trying to accomplish
![angular-ui](https://cloud.githubusercontent.com/assets/9951818/21730351/6114f952-d41d-11e6-92f9-d0eba2db736c.png)

Thank you

[2017-01-10 12:46] fmarelli opened #882 "dropped and beforeDrop do not work"
Hi, not sure if this is a bug, but there is definitely something strange going on.

**dropped** and **beforeDrop** do not seem to work while **accept** and **remove** do. Below is my code.

Thanks.

[code]

[code]

[code]

[2017-01-12 14:52] fmarelli commented on #882
There was a problem in my code. This is a non-issue. Closing.

[2017-01-12 14:52] #882 closed

[2017-01-12 16:11] mrsernine commented on #424
@v1r0x Same problem here, to solve the lag produced by big trees, had to use ng-if instead of ng-show. That boosted performance but broke the "filter" functionality since the collapsed node children were no longer in the DOM.

The solution we found was to check the tree information in the model, rather than the DOM. Here's what we did, in a nutshell:

1. Add a collapsed property to the model of yo

[2017-01-12 16:33] v1r0x commented on #424
@mrsernine thanks for your answer! Didn't expect that someone would answer the question. In the meantime I found a solution myself.
I think your solution is better, I'll definitely have a look at it.

Here is a rough overview of what I did:
1. Get the id of the element which should be highlighted and selected and the ids of all it's parent (ordered by their "distance" to the desired element)
2. Ge

[2017-01-16 22:15] honkskillet opened #885 "empty tree placeholder doesn't appear when last item removed"
Let's say you have connected trees, such as in this demo...
http://angular-ui-tree.github.io/angular-ui-tree/#/connected-trees

Lets say you remove all but one item from Tree 2.  Then you drag the last item from Tree 2 but you change your mind.  The empty tree placehold won't appear until your put the item into Tree 1.  So you can't put the last item back.  You have to put it into Tree 1 first.  O

[2017-01-19 18:04] honkskillet commented on #885
I think if you add to $scope.place() at around line 333 it will fix the problem.  Does this look Kosher?

        // add placeholder to empty tree
        $scope.place = function (placeElm) {
          $scope.placeElm=placeElm;
          $scope.$nodesScope.$element.append(placeElm);
          //!!!  Make sure that the placeholder is visible when it is added to the empty tree
          if (angular.

[2017-01-23 10:52] herrherrmann commented on #309
@lingthing5 Are you also using `angular.extend()` at some point? In this case, you might still have some `null` or `undefined` values in your array. You should check the content of your iterable and possibly filter out those invalid values.
As an alternative you could also create a new object every time via `angular.extend({}, yourOtherStuff, ...)`.

[2017-01-25 17:43] jkevingutierrez commented on #868
+1

[2017-01-26 10:00] keldonin opened #888 "With nested node templates, nesting more that 9 levels does not render properly"
Hello,

it seems that rendering a tree using nested node templates with more than 9 levels results into raising an exception by angular.js. It always terminates into the following error, reported by angular.js:

[code]

As a result, rendering of the table fails: as of 10th element, it stops rendering.

I have created a plunkr to illustrate:

[https://plnkr.co/edit/yVAQu0W7NcxNPabvc6fn](https://pln

[2017-01-27 06:32] shahidsalamkhan opened #889 "clear all and select all functionality"
could you please tell me how to add clear all and select all functionality in ui tree

i want something look like
![untitled](https://cloud.githubusercontent.com/assets/24955622/22362412/7757be86-e488-11e6-88b0-552f575fae48.png)

[2017-01-27 07:21] keldonin commented on #888
There is a pending pull request that could potentially solve this issue, as it seems to relate to a similar problem:

Related issue is: #836
Pull request is: #841

Pull request seems stalled since Nov 18... Any chance this PR be merged into master?

[2017-02-03 14:18] Purushothama-VS opened #893 "Collapse only collapsing child nodes but not collapsing itself"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
Currently collapse just collapses the child nodes but not the parent node itself

**If the current beh

[2017-02-03 16:40] #893 closed

[2017-02-07 07:04] praveenbattula commented on #726
Anyone has the typescript version of this project? I am using angular 1.5.8. Please let me know if any version available with anyone.

[2017-02-07 09:07] bronielsen commented on #726
I have made a typescript file in
https://github.com/angular-ui-tree/angular-ui-tree/pull/870

Unfortunately it needed to be rebased to the latest master. I am a novice in Github, so I have not had the time to get this figured out yet. But I use this typescript file myself.

[2017-02-08 08:54] HelloAmy commented on #148
我也遇到这个问题了，我的数据量是3千多条，需要增删改，每次渲染浏览器非常慢...

[2017-02-08 10:47] Neha09garg opened #896 "Incorrect expand sign '+' displayed for the items on the page on my application page on Fire Fox , Windows 2008"
Incorrect expand sign '+' displayed for the items on my application page on Fire Fox , Windows 2008
Expected Result- Setup item should have '+' to expand the tree

Angular used -    "angular": "1.5.6"
![tree1](https://cloud.githubusercontent.com/assets/25635660/22733997/18ce925e-ee1a-11e6-93a3-428aa54e6922.jpg)

[2017-02-09 00:10] praveenbattula commented on #853
Great, the solution to move the ui-tree-handle inside the tree-node div worked perfect among all mentioned above. Thanks bilalmallick

[2017-02-09 00:17] praveenbattula opened #897 "Scroll issue in dragging the node"
**Do you want to request a *feature* or report a *bug*?**
I believe its a bug. I have 15 nodes and available height is 300px. I can't see all nodes without a scrollbar to my div. Now, when I want to drag the first node in tree to last node I am unable to. Currently scrolling through div in drag mode is not supporting.

**What is the current behavior?**
Current behavior allowing drag only the nodes

[2017-02-09 16:15] andmattia opened #898 "Remove not work always"
http://angular-ui-tree.github.io/angular-ui-tree/#/nodrop

I see in my project, and check on live, if you try to move some subnode on drop node when you try to remove with remove botton (x on top right) after some movemnts is impossibile to remove.

I debug on local (row 258 in source file)
[code]

the index is -1 beacuse the node is previuos removed. So I see another possibile issue is related on

[2017-02-09 16:44] andmattia commented on #898
Update:
after move event the node moved is impossible to remove and catch and error
[code]
row 1116

[2017-02-10 13:05] andmattia commented on #898
Update:
today after a full refresh I recheck all code and I find the issue on my HTML.
1. my template used by ng-template don't have a <div> to wrap te templete
2. inside template I have a
[code]

After remove class tree-node and move ui-tree-handle to first div all works well

[2017-02-10 13:05] #898 closed

[2017-02-14 18:32] aldowizard opened #901 "data-nodrag not working after drag"
Bug
Element span with data-nodrag work fine until drag it, then all is draggable
(Extra data: span include button toggle sort selection)

Tested on
Angular UI Tree v2.22.2
Chrome Version 56.0.2924.87
51.0.1 (64-bit)
No error happens

<script type="text/ng-template" id="nodes_sortColumn.html">
    <div class="tree-node">
        <div class="tree-node-content" ui-tree-handle>
            <div class=

[2017-02-14 21:55] atoftegaard commented on #901
I have the same issue. After dragging a node, data-nodrag will no longer work

[2017-02-15 08:38] charlie-wasp commented on #141
@icfantv I know, it's been a long time, but now I am struggling with the same problem, did you find (and remember) some solution?

[2017-02-15 09:50] ankurngm commented on #141
Thou, I don't use this control anymore, but I believe, I implemented AngularJs Watch for custom processing. Here is the link that might help you get started - http://tutorials.jenkov.com/angularjs/watch-digest-apply.html

[2017-02-15 10:42] raselahmedit09 opened #902 "HTML part use as string"
Actually I use treeview in modal through my angular directive.  It's cannot show data. My html string is given bellow.  Please help if you can..

var templateHtml =
                    '<script type="text/ng-template" id="orgTreeView.html">'
                   + ' <div ui-tree-handle class="tree-node">'
                   + '<div class="tree-node-content">'
                   + '<a class=""  data-

[2017-02-15 13:13] danoneic opened #903 "Fail to get current dest on beforeDrop function"
I have to implement a adapted DFS on the current tree when beforeDrop is called, to validate a specific action. Why 'dest' variable is failing to get each position of the array?

vm.tree = {
                beforeDrop: function(event) {
                    var dest = event.dest.nodesScope.$modelValue;
                    console.log(dest[0]);
                }
}

[2017-02-15 15:36] icfantv commented on #141
@charlie-wasp, I might be able to see what I did.  I don't work there anymore so I'll need to reach out to colleagues.  I'm in meetings all day so it might be tomorrow.  Cool?

[2017-02-15 15:40] charlie-wasp commented on #141
Yes, of course! Thank you!

[2017-02-16 22:47] alexandruradovici opened #906 "npm install fails, webdriver-manager update command not found"
**Do you want to request a *feature* or report a *bug*?**
npm install fails when running webdriver-manager update

**What is the current behavior?**

AlexandrusMBP3:WyliodrinSTUDIO alexandru$ npm install angular-ui-tree

sh: webdriver-manager: command not found
npm ERR! Darwin 14.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "angular-ui-tree"
npm ERR! node v6.9.5
npm ERR!

[2017-02-17 08:48] Cinamonas commented on #906
I believe this regression was introduced with #905. You can downgrade to [`v2.22.3`](https://github.com/angular-ui-tree/angular-ui-tree/tree/v2.22.3) for the time being.

[2017-02-17 09:16] Voles commented on #906
@alexandruradovici @Cinamonas thanks for reporting. I'll fix this this evening. The `postinstall` hook should be a `pretest` hook, because Protractor is only installed as a devDependency.

[2017-02-17 21:29] #906 closed

[2017-02-17 21:34] Voles commented on #906
Fixed :-)

[2017-02-17 22:49] peter-norton opened #908 "Dragging cloned node onto empty tree removes the empty tree placeholder"
![missing_angular-ui-tree-empty_element](https://cloud.githubusercontent.com/assets/5089611/23086035/8a0f2e48-f530-11e6-8e1b-90be5d33b1f7.gif)

To recreate:

1. go to [Connected Trees Cloning](http://angular-ui-tree.github.io/angular-ui-tree/#/cloning)
2. delete all the nodes in Tree 2
3. try to drag a node from Tree 1 onto Tree 2.

Expected behavior: the `angular-ui-tree-empty` element should sta

[2017-02-18 12:09] Voles commented on #908
@peter-norton thanks for reporting! The fix has been proposed here: #895
Do you have time to help reviewing this PR?

Thanks in advance!

[2017-02-22 23:06] thienedits opened #911 "is there a node created event?"
I have an add button for adding a new sub item as in the example. Inside the newSubItem function I tried to find the child element and trigger a click event, however, looks like I cannot access the child yet. I used $timeout and it works, however was wondering if there is some event hook or the proper way to do this.

[2017-02-23 00:34] thienedits commented on #706
@gkTim How did you get the delete to work on the newly added item? Doesn't seem to delete correctly

[2017-02-27 13:34] dewelloper opened #913 "Drag node cancel and expand"
When you click any node for draging but give up it.
Node not expanding while refreshing the source

[2017-02-28 07:20] amanguptaDeveloper commented on #166
How can i drop outside the ui tree. I no longer need a node and want to remove it from the tree by dragging and droping outside. Is this possible ?

[2017-03-01 08:12] Nanakii commented on #830
Seems like it has been fixed in 2.22.5 (PR #878)

[2017-03-01 08:13] Nanakii commented on #853
Seems like it has been fixed in 2.22.4 (PR #878)

[2017-03-01 08:27] Voles commented on #830
@Nanakii you're right. Thanks for reporting.

[2017-03-01 08:27] #830 closed

[2017-03-01 08:28] Voles commented on #853
Fixed in v2.22.4

[2017-03-01 08:28] #853 closed

[2017-03-01 20:31] Ygilany opened #915 "cloning a node with its parents"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
I tried to ask this question on gitter but it seems the channel isn't really active.

this is a functionality request as I don't think I found anythin

[2017-03-02 11:30] dewelloper commented on #913
Ok i found my answer from another thread thank you (zainulabidin302)

https://github.com/angular-ui-tree/angular-ui-tree/issues/830

[2017-03-02 11:30] #913 closed

[2017-03-03 09:54] XpectIT opened #916 "Compatibility for Angular 1.6.x"
Are there any changes to provide compatiblity for Angular 1.6.x?

[2017-03-05 15:57] pkurochka opened #918 "data-drag-delay param doesn't work if ui-tree has components with isolated scope"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If you use components in ui-tree structure some of ui-tree params don't work because components use isolated

[2017-03-06 07:01] abhishekverma3189 commented on #762
Is this issue resolved ?

[2017-03-09 23:31] peter-norton commented on #908
@Voles Any chance my pull request ([#910](https://github.com/angular-ui-tree/angular-ui-tree/pull/910)) could be merged?

Here's the fix in action (notice that the placeholder doesn't disappear until the node is dropped):
![fixed](https://cloud.githubusercontent.com/assets/5089611/23775352/eccf49a6-04ed-11e7-8ae9-03d1e80c9582.gif)

[2017-03-13 13:14] Evanion commented on #916
What isn't working on angular 1.6 for you? .. I'm using it with 1.6, and it's working just fine.

[2017-03-13 13:41] Evanion commented on #881
You can add what ever content you want to the nodes .. and you can check if they are a sub item in the 'dropped' event.

[2017-03-13 13:50] Voles commented on #908
@peter-norton I'm considering to include your work, but I'm not sure if this is really useful. Because you can drop the slide on that area, right? Wouldn't you want a 'drop placeholder' then?

Do you know any other scenarios where people would want this as the default behaviour for the tree component?

[2017-03-13 22:16] andrejbranch commented on #661
I've found that if you use data-expand-on-hover it solves this issue. I believe this only happens when the last child has children and is collapsed

[2017-03-15 15:56] smohammedyasin opened #923 "not showing tree view"
Hello,

I'm not getting any tree view from treeData.
Please check [http://plnkr.co/edit/3fv3RAA3VgBbVSd58OaT?p=preview](http://plnkr.co/edit/3fv3RAA3VgBbVSd58OaT?p=preview).

did i missed anything?

Appreciate for quick response

[2017-03-15 19:03] itmilos opened #924 "Demo Filter Not Working"
Demo example for filter is not working for nested nodes only highest level nodes are filtered.

[2017-03-16 11:20] #923 closed

[2017-03-16 17:02] coxrichuk commented on #888
+1

[2017-03-20 12:54] lukasoberhoeller opened #926 "data-scroll-container for different ui-tree"
The *data-scroll-container* attribute didn't work if you specify a different ui-tree as container.

If you have 2 ui-trees and drag one element from one to the other the automatic scroll is not working. It scrolls the dragged items parent

[2017-03-28 09:34] bilal4 commented on #889
try looping through  all the item and toggle isSelected value for each item.

[2017-03-28 12:08] gkTim commented on #706
Hi,

here is my deletion code:

[code]

[2017-03-30 03:05] iromero commented on #916
I think that XpectlT means if it is possible to update the dependencies from angular in file bower.json from:
1.2.x || 1.3.x || 1.4.x || 1.5.x to
1.2.x || 1.3.x || 1.4.x || 1.5.x || 1.6.x
so an user that is using angular 1.6.x can install the angular-ui-tree using bower

[2017-04-04 17:28] azizkhon1 commented on #916
I'm getting **UNMET PEER DEPENDENCY** errors with Angular 1.6.2

![image](https://cloud.githubusercontent.com/assets/26440841/24670016/7f124f60-193a-11e7-9487-e2b40eb5a99a.png)

[2017-04-05 13:43] yasoCH commented on #185
thanks! had the same error but with angular inspector, which is based on batarang

[2017-04-08 09:37] smilingthax opened #931 "Middle/Right click should not start drag"
I'd expect that only left-clicks start a drag action.

Currently, right click starts a drag action AND opens the content menu (e.g. on the Demo page).
When I select Inspect there (Google Chrome), the dragaction continues, until I leave the browser window...

[2017-04-08 11:28] smilingthax commented on #931
This seems to be related to window.ontouchstart to be present on my system (I do have a touch screen).

[2017-04-08 12:38] smilingthax opened #932 "Inputs in dragabble nodes (was #728)"
#728 should be fixable in the following way:

Current https://github.com/angular-ui-tree/angular-ui-tree/blob/master/source/directives/uiTreeNode.js#L159  has:

              //Dragging not allowed on inputs or buttons.
              eventElmTagName = eventElm.prop('tagName').toLowerCase();
              [...tagName is select, button, ... ]

              //Check if it or it's parents has a 'data-

[2017-04-08 12:48] smilingthax opened #933 "Feature: Expose event to $callbacks"
Currently, e.g. pressing `Esc` ends the dragging, but commits the result where ever the dragged node happens to be at that moment.
I'd prefer the cancel/stop the drag action instead.

The non-cross-browser way to achieve this, is to check `window.event` in the `beforeDrop` callback and return false, if the event happens to be a keypress of the Escape key, e.g.

      beforeDrop(evObject) { return

[2017-04-12 09:20] wassim-azirar commented on #782
I'm in the same situation here. I want to customize the angular-ui-tree-empty '<div>'.
Right now I used ::after to add some text, but I need to add buttons and use a custom style.

Do you have any plans to support this ?

[2017-04-15 17:35] obsfront opened #935 "How can I customize the first node?"
I want to customize just the first node. Hide buttons, change colors, etc. How can I do this? By angular, javascript, scss, no matter how :D

Thanks!

[2017-04-17 13:49] peter-norton commented on #908
It's really just a stylistic change. It doesn't make sense for the empty tree placeholder to disappear when dragging and hovering over top of it

[2017-04-17 23:28] codephreek commented on #888
All - the project I was on when I discovered this issue was temporarily placed on hold.  I did implement the solution that @m1llen1um proposed in #841 and it worked.

It would be great to see this merged into master.

[2017-04-18 22:39] Toilal opened #937 "Add support for webpack externals"
Actually angular-ui-tree supports webpack partially. It works when bundling angular-ui-tree into the application at build time, but it doesn't work when resolving angular-ui-tree at runtime using [externals](https://webpack.js.org/configuration/externals/).

Entrypoint should declare an [UMD loading pattern](https://github.com/umdjs/umd/blob/master/templates/returnExports.js) to avoid such issues.

[2017-04-26 16:07] krypsis commented on #901
I too am experiencing this issue, has anybody been able to come up with a solution?

[2017-04-26 17:39] krypsis commented on #901
Was able to write a quick fix for my setup.

changed around line 750 of angular-ui-tree.js
              //Dragging not allowed on inputs or buttons.
              eventElmTagName = el.prop('tagName').toLowerCase();
              if (eventElmTagName == 'input' ||
                  eventElmTagName == 'textarea' ||
                  eventElmTagName == 'button' ||
                  eventElmTagName ==

[2017-05-02 13:18] wjrivera commented on #881
Thank you

[2017-05-02 13:18] #881 closed

[2017-05-08 14:27] AlexTimofeyev opened #941 "Allow drag & drop in same model, make somw group of trees."
How allow drag & drop in same model scope only ?

[2017-05-15 13:10] edlahoz commented on #897
+1

[2017-05-17 14:35] orthodoxws commented on #868
+1

[2017-05-17 20:16] octlabs commented on #897
+1

[2017-05-19 17:23] DzmVasileusky commented on #622
+1
It can be reproduces on demo page.

[2017-05-22 16:37] claudio-alvarez opened #946 "Drop ui-tree nodes to an arbitrary target in the DOM"
Hi Folks,
Is it possible to enable drag and drop of list items (nodes) in ui-tree to an arbitrary element in the DOM?
Specifically, I would like to implement dragging list elements in the ui-tree to a DIV element that contains a D3 chart. The behavior I need to achieve is similar to the following:

[http://bl.ocks.org/thudfactor/6611441](url)

How should I start? Thank you for help.

[2017-05-24 15:22] shrikumarhegde commented on #897
Hi there,

any solution for this bug?

[2017-06-02 20:32] bryantmakesprog opened #948 "Custom Click Events"
Is it possible to execute a function when you click on a node? Or add a custom button to a node? For example, we want an edit popup. So we would need to execute a function on click and know the id of the node that was clicked.

[2017-06-03 04:31] Lovelyinfotech commented on #349
hi can you please provide me the example for lazy loading in the angularr ui tree

[2017-06-06 05:48] ypkkhatri opened #949 "Error occur when child node moved backed to parent list"
When child node moved backed to parent list code breaks, this occurs sometime.
uiTreeNode.js, Line: 528
[code]
I should wrap with condition like:
[code]

[2017-06-06 05:50] ypkkhatri commented on #949
I have created pull request

[2017-06-06 10:01] ypkkhatri commented on #863
I'm facing the same issue, please resolve this asap

[2017-06-08 12:06] kwieckowski-neducatio opened #951 "Dragging a node causes the browser to reload assets rendered in the tree"
**Do you want to request a *feature* or report a *bug*?**

Probably a bug. May be browser related.

**What is the current behavior?**

When you start dragging a node the browser keeps sending requests for the assets contained in the dragged tree branch.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or s

[2017-06-19 17:46] surajkhanal opened #953 "Is there any chances to come this library support for angular2/4?"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pr

[2017-06-20 05:13] gikerix opened #954 "Expand/Collapse or Select"
[Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree)

I need to get info from node when user select it, and at the same time I need expand/collapse the tree.  According to documentation, if I want to use expand/collapse future, I have to make handler for ng-click event, but I need this event for getting info from node.  Can I differ somehow if user clicks on node, or expands/collaps

[2017-06-21 18:30] tylerhaugen-stanley opened #955 "Connected trees, unable to drag last node out of a tree and then put it back withouts 2 drag events"
**Do you want to request a *feature* or report a *bug*?**
Reporting a *bug*

**Steps to reproduce**
1. Open the [connected tree example](http://angular-ui-tree.github.io/angular-ui-tree/#/connected-trees).
2. Delete item 2, 3, & 4 from **tree 2**
3. Start dragging *item 1* from **tree 2**
4. Hover over **tree 1**
5. Change your mind and decide to put *item 1* back into **tree 2**
6. You will be un

[2017-06-23 21:13] Halanson opened #957 "Feature: CSS class for the designated parent of the currently dragged node"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Currently there is no way to indicate if the currently dragged node will be placed in the same hierachie level or as a child. Except by indent the placeholder by a huge amount of pixel.

**What is the motivation / use case for changing the behavior?**

It would be a much better UX to have the pos

[2017-06-24 19:08] azerafati opened #958 "A theme for a classic folder tree"
I love this library but the current theme is kind of bulky and takes a lot of space specially when there are a lot of nodes in the tree, I didn't see any other theme for the library. Is there anything I've missed? I was looking for something like this maybe

![image](https://user-images.githubusercontent.com/6585609/27511298-1fe7814a-5936-11e7-8944-d8b36795ddf1.png)

[2017-06-25 00:54] bostondevin commented on #529
+1

[2017-06-27 13:36] tristanos commented on #916
Any news here? could you please update the bower.json with the suggestion from **iromero**?
thx

[2017-06-28 15:29] tylerhaugen-stanley opened #959 "Overriding beforeDrop() results in empty trees not reporting they are empty."
**Do you want to request a *feature* or report a *bug*?**
Report a *bug*

**What is the current behavior?**
Overriding the beforeDrop callback to return false will make empty tree's think they are full when really they are empty.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar.**
* Create two e

[2017-07-04 09:19] bostondevin commented on #957
+1 - the behavior is too touchy to know where you are dragging things - I have about a 50% success rate dropping a node in the right place the first time

[2017-07-06 08:23] gururajmca commented on #32
Is this repo is live?

[2017-07-06 10:31] Blakko commented on #954
+1

[2017-07-06 15:37] papakai commented on #916
+1

[2017-07-07 10:05] tomercagan commented on #224
It's worth noting that the way child nodes appears depends on your bounded variable(s).
For example, in my case I have the following template / data:

    <div class="tree-node-content">

    </div>
    <ol ui-tree-nodes="" ng-model="program.childPrograms" class="list-group" ng-class="{hidden: collapsed}">
        <li ng-repeat="program in program.childPrograms" ui-tree-node ng-include="'partials/

[2017-07-10 11:46] Roshanjossey commented on #901
I had the same problem and did some research on this.

This is where I was having trouble https://github.com/angular-ui-tree/angular-ui-tree/blob/master/dist/angular-ui-tree.js#L760

[code]

`isUiTreeRoot` was getting evaluated as true as true after drag.

Now it's fixed with
[code]
From version 2.22.4

I upgraded the package and started working

[2017-07-10 13:14] alejandrofernandezcanton opened #961 "Problem moving nodes between two trees when one of them has pagination."
I am moving nodes between trees. One of them has pagination because there are a lot of elements and page is very large then. When i move nodes from page 2 or 3... node which is moved is node of page 1.
How can i do for implementing pagination in my tree?
Currently i am doing pagination with my own filter for ng-repeat.

This is the code of my filter:

.filter( 'startFrom', function()
{
    return

[2017-07-11 06:40] nglasantha commented on #200
remove track by $index

[2017-07-12 03:23] vincentism commented on #948
Have u find a solution now? I came across the same question @bryantmakesprog

[2017-07-27 14:01] Agshlee opened #962 "Disable placeholder and cancel drop when dropping item outside tree"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The current behavior is described in issue #464, which got fixed back in 2015 by pull request #550. This fix wa

[2017-07-27 17:56] Agshlee commented on #959
Possibly (to be) solved by #895?

[2017-07-28 12:29] anthwinter commented on #705
The problem explained by @robwalkerco in this issue was caused by placing the `ui-tree-handle` alongside the `ui-tree-node`, instead of placing a separate element inside the ui-tree-node that contained ui-tree-node.

@robwalkerco did you want to close this issue? I'm unable to.

Problem:
[code]

Resolution:
[code]

[2017-07-28 12:50] robwalkerco commented on #705
Thanks @anthwinter

[2017-07-28 12:50] #705 closed

[2017-07-31 07:39] Balajipss commented on #790
![image](https://user-images.githubusercontent.com/15668614/28767446-5561420c-75f1-11e7-9d2d-39fcd69d4b78.png)

-- I wanted to add a new node called node 4, node 5.. There is a provision to add only the child node and not the main parent node
please refer to the image

[2017-08-01 06:41] Balajipss commented on #790
@jacobscarter Can you please let me know how to add a new parent node ?

[2017-08-18 07:31] ltoshev commented on #210
Part of this code is missing in master now? Why?

[2017-08-19 12:33] Voles commented on #867
Closed with #964

[2017-08-19 12:33] #867 closed

[2017-08-19 12:33] Voles commented on #270
Should be resolved with #964

[2017-08-19 12:37] Voles commented on #908
Resolved by #910

[2017-08-19 12:37] #908 closed

[2017-08-28 15:48] agyanttiwari opened #965 "Cannot drag a node to make it the last node in the tree if the last node is collapsed"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I am not able to drag a node as the last node in the tree, if the current node is collapsed or does not have any children.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar.**

1. Go to http://angul

[2017-08-28 19:39] mmccooyyy commented on #888
+1

[2017-08-28 20:05] mmccooyyy opened #966 "Is there a way to increase the horizontal drag buffer?"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
Feature: add an option to set the horizontal drag buffer to a set distance.

**What is the current behavior?**
The horizontal drag buffer is very smal

[2017-08-29 19:25] kubohiroya opened #967 "Using on table element causes null reference"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Call function *addClass* on a null reference of scope.$dropzoneElems in function *link* in ui.tree module, di

[2017-08-30 08:14] cherrie12 commented on #757
I met this issue also. And how do you solve this problem?

[2017-08-30 08:38] nicolasr75 commented on #757
Sorry but I don't work with this component anymore. But afair the stylesheet was not included. The ui-tree stylesheet correctly sets the style of the ol-tags to not show numbers, you can check that in the file.

[2017-08-30 11:10] joeyfy opened #970 "Why the callback behavior of v2.22.5 is different from the callback behavior of v2.22.6?"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I updated angular-ui-tree to v2.22.6, and found that the project can't run properly. so I compared v2.22.5 and v2.2

[2017-08-31 10:15] dgasparri opened #971 "scope.beforeDrag undefined when dragging"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
Possible bug, or undocumented solution

**What is the current behavior?**
After moving part of the tree inside a directive with isolated scope (<tree-

[2017-09-01 19:31] cesterlizi commented on #967
I am having the same problem with last version 2.22.6

[code]

[2017-09-04 07:14] yuvraj11 commented on #182
Is edit node name functionality part of this component yet? If not, how can I implement it on my own? Is it as simple as - `<a href="#" editable-text="user.name" [attributes]> {{user.name | "empty"}} </a>`

[2017-09-04 08:13] #970 closed

[2017-09-12 04:55] ramakrishnapittu commented on #471
+1

[2017-09-15 07:14] woshixiaoqianbi commented on #967
@cesterlizi    uiTree.js  line 45 add:
              scope.$dropzoneElm = angular.element($window.document.createElement('div'));

[2017-09-15 09:37] nandhinit commented on #511
Uncaught TypeError: Cannot read property '$element' of null
    at dragMove (angular-ui-tree.js:1117)
    at HTMLDocument.dragMoveEvent (angular-ui-tree.js:1280)
    at HTMLDocument.dispatch (jquery.min.js:3)
    at HTMLDocument.r.handle (jquery.min.js:3) i am using connection trees .it is working but in console it shows this error.can you  help me to fix the issue?

[2017-09-18 16:18] abtx opened #973 "Way to create html based on json"
*Note*: for support questions, please use our [Gitter channel](https://gitter.im/angular-ui-tree/angular-ui-tree). This repository's issues are reserved for feature requests and bug reports.

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If a node is dropped at the 'max depth' of the tree, its children will not be visible. Dragging the node a

[2017-09-19 11:36] thiagobitencourt commented on #302
+1

[2017-09-19 14:27] ady-ghe commented on #127
still have this issue in 2017!

[2017-09-19 16:05] abtx commented on #973
There's already a way to do it, for anyone else who cannot find the solution just look at the basic example in examples

[2017-09-19 16:05] #973 closed

[2017-09-20 07:01] AlexDEVpro commented on #245
The only thing helped me is adding data-expand-on-hover="true" attribute to the li items despite the fact that there is data-expand-on-hover="false" attributes in the working examples.

[2017-09-21 07:27] amanguptaDeveloper opened #974 "angular-ui-tree/angular-ui-tree » Using on table element causes null reference"
Hello,
I am getting this error while using angular-ui-tree v2.22.6 for drag and drop functionality.

[code]

I Found the solution:
by adding
`scope.$dropzoneElm = angular.element($window.document.createElement('div'));`
into angular-ui-tree.js in uiTree directive line No.385.

Please fix this.